/* poppins-300 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/poppins-v6-latin-300.eot'); /* IE9 Compat Modes */
    src: local('Poppins Light'), local('Poppins-Light'),
    url('../fonts/poppins-v6-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/poppins-v6-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/poppins-v6-latin-300.woff') format('woff'), /* Modern Browsers */
    url('../fonts/poppins-v6-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/poppins-v6-latin-300.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-regular - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v6-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Poppins Regular'), local('Poppins-Regular'),
    url('../fonts/poppins-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/poppins-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/poppins-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/poppins-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/poppins-v6-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-500 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/poppins-v6-latin-500.eot'); /* IE9 Compat Modes */
    src: local('Poppins Medium'), local('Poppins-Medium'),
    url('../fonts/poppins-v6-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/poppins-v6-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/poppins-v6-latin-500.woff') format('woff'), /* Modern Browsers */
    url('../fonts/poppins-v6-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/poppins-v6-latin-500.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-600 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v6-latin-600.eot'); /* IE9 Compat Modes */
    src: local('Poppins SemiBold'), local('Poppins-SemiBold'),
    url('../fonts/poppins-v6-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/poppins-v6-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/poppins-v6-latin-600.woff') format('woff'), /* Modern Browsers */
    url('../fonts/poppins-v6-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/poppins-v6-latin-600.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-700 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins-v6-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Poppins Bold'), local('Poppins-Bold'),
    url('../fonts/poppins-v6-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/poppins-v6-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/poppins-v6-latin-700.woff') format('woff'), /* Modern Browsers */
    url('../fonts/poppins-v6-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/poppins-v6-latin-700.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-800 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/poppins-v6-latin-800.eot'); /* IE9 Compat Modes */
    src: local('Poppins ExtraBold'), local('Poppins-ExtraBold'),
    url('../fonts/poppins-v6-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/poppins-v6-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/poppins-v6-latin-800.woff') format('woff'), /* Modern Browsers */
    url('../fonts/poppins-v6-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/poppins-v6-latin-800.svg#Poppins') format('svg'); /* Legacy iOS */
}