@keyframes iconFadeIn {
    0% {
        bottom: 10px;
        opacity: 0;
    }
    40% {
        bottom: 15px;
        opacity: 0.5;
    }
    60% {
        bottom: 20px;
        opacity: 0.75;
    }
    100% {
        bottom: 25px;
        opacity: 1;
    }
}
@keyframes iconFadeOut {
    0% {
        bottom: 25px;
        opacity: 1;
    }
    40% {
        bottom: 20px;
        opacity: 0.75;
    }
    60% {
        bottom: 15px;
        opacity: 0.5;
    }
    100% {
        bottom: 10px;
        opacity: 0;
    }
}
@keyframes mainChatFadeIn {
    0% {
        bottom: -0.75em;
        opacity: 0;
    }
    40% {
        bottom: -0.5em;
        opacity: 0.5;
    }
    60% {
        bottom: -0.25em;
        opacity: 0.75;
    }
    100% {
        bottom: 0;
        opacity: 1;
    }
}
@keyframes mainChatFadeOut {
    0% {
        bottom: 0;
        opacity: 1;
    }
    40% {
        bottom: -0.25em;
        opacity: 0.75;
    }
    60% {
        bottom: -0.5;
        opacity: 0.5;
    }
    100% {
        bottom: -0.75em;
        opacity: 0;
    }
}
@keyframes pulse {
    0% { box-shadow: 0 0 0 0 rgba(#2196f3, 0.05); }
    75% { box-shadow: 0 0 0 17px rgba(#2196f3, 0); }
    100% { box-shadow: 0 0 0 0 rgba(#2196f3, 0); }
}
@keyframes slideUp {
    0% { top: 35px; }
    100% { top: 0; }
}
@keyframes roll {
    0% {
        opacity: 1.0;
        transform: translateY(0);
    }
    20% {
        opacity: 0.5;
        transform: translateY(-0.25em);
    }
    40% {
        opacity: 1.0;
        transform: translateY(0);
    }
}
@keyframes wobble {
    0% { transform: rotate(-$wobble-deg); }
    50% { transform: rotate($wobble-deg); }
    100% { transform: rotate(-$wobble-deg); }
}