// Firefox-only mixin
@mixin firefox-only {
    @at-root {
        @-moz-document url-prefix() {
            & {
                @content;
            }
        }
    }
}

@mixin text-clamp($lines: 2, $line-height: false) {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $lines;
    display: -webkit-box;
    display: -moz-box;
    overflow: hidden;
    white-space: pre-wrap;
    word-break: break-all;

    // Fallback for non-Webkit browsers
    // (won't show `…` at the end of the block)
    @if $line-height {
        max-height: $line-height * $lines * 1px;
    }
}

@mixin font-size($size) {
    font-size: $size; // Fallback
    font-size: rem($size);
}

@mixin font-styles($size, $weight: null, $color: null) {
    $base-size: 16;
    color: $color;
    font-size: ($size / $base-size) + rem;
    font-weight: $weight;
}

@mixin headings {
    h1, h2, h3,
    h4, h5, h6 {
        @content;
    }
}