@import '../css/line-awesome.min';
@import './fonts';

// Inheritance vars
$borders: fiberpos-color();

#chat {
    * {
        -ms-text-size-adjust: 100%;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-family: Poppins;

        i.la {
            font-family: "LineAwesome";
        }

        i.fa,
        i.fas,
        i.far {
            font-family: "Font Awesome 5 Free";
        }
    }

    .kt-font-primary {
        color: fiberpos-color('primary') !important;
    }
    .kt-font-secondary {
        color: fiberpos-color('secondary') !important;
    }
    .kt-font-success {
        color: fiberpos-color('success') !important;
    }
    .kt-font-info {
        color: fiberpos-color('info') !important;
    }
    .kt-font-warning {
        color: fiberpos-color('warning') !important;
    }
    .kt-font-danger {
        color: fiberpos-color('danger') !important;
    }
    .kt-padding-0 {
        padding: 0;
    }
    .kt-margin-0 {
        margin: 0;
    }
    .kt-margin-r-0 {
        margin-right: 0;
    }
    .kt-margin-r-5 {
        margin-right: 5px;
    }
    .kt-margin-b-15 {
        margin-bottom: 15px;
    }

    .kt-separator {
        height: 0;
        margin: 20px 0;
        border-bottom: 1px solid #ebedf2; }
    .kt-separator.kt-separator--dashed {
        border-bottom: 1px dashed #ebedf2; }
    .kt-separator.kt-separator--border-solid {
        border-bottom: 1px solid #ebedf2; }
    .kt-separator.kt-separator--border-dashed {
        border-bottom: 1px dashed #ebedf2; }
    .kt-separator.kt-separator--border-2x {
        border-bottom-width: 2px; }
    .kt-separator.kt-separator--space-xs {
        margin: 0.5rem 0; }
    .kt-separator.kt-separator--space-sm {
        margin: 1rem 0; }
    .kt-separator.kt-separator--space-md {
        margin: 2rem 0; }
    .kt-separator.kt-separator--space-lg {
        margin: 2.5rem 0; }
    .kt-separator.kt-separator--space-xl {
        margin: 3rem 0; }
    .kt-separator.kt-separator--md {
        margin: 30px 0; }
    .kt-separator.kt-separator--lg {
        margin: 40px 0; }
    .kt-separator.kt-separator--xl {
        margin: 60px 0; }
    .kt-separator.kt-separator--sm {
        margin: 20px 0; }
    .kt-separator.kt-separator--fit {
        margin-left: -25px;
        margin-right: -25px; }
    .kt-separator.kt-separator--brand {
        border-bottom: 1px solid #5d78ff; }
    .kt-separator.kt-separator--brand.kt-separator--dashed {
        border-bottom: 1px dashed #5d78ff; }
    .kt-separator.kt-separator--light {
        border-bottom: 1px solid #ffffff; }
    .kt-separator.kt-separator--light.kt-separator--dashed {
        border-bottom: 1px dashed #ffffff; }
    .kt-separator.kt-separator--dark {
        border-bottom: 1px solid #282a3c; }
    .kt-separator.kt-separator--dark.kt-separator--dashed {
        border-bottom: 1px dashed #282a3c; }
    .kt-separator.kt-separator--primary {
        border-bottom: 1px solid #5867dd; }
    .kt-separator.kt-separator--primary.kt-separator--dashed {
        border-bottom: 1px dashed #5867dd; }
    .kt-separator.kt-separator--success {
        border-bottom: 1px solid #0abb87; }
    .kt-separator.kt-separator--success.kt-separator--dashed {
        border-bottom: 1px dashed #0abb87; }
    .kt-separator.kt-separator--info {
        border-bottom: 1px solid #5578eb; }
    .kt-separator.kt-separator--info.kt-separator--dashed {
        border-bottom: 1px dashed #5578eb; }
    .kt-separator.kt-separator--warning {
        border-bottom: 1px solid #ffb822; }
    .kt-separator.kt-separator--warning.kt-separator--dashed {
        border-bottom: 1px dashed #ffb822; }
    .kt-separator.kt-separator--danger {
        border-bottom: 1px solid #fd397a; }
    .kt-separator.kt-separator--danger.kt-separator--dashed {
        border-bottom: 1px dashed #fd397a; }

    .btn {
        display: inline-block;
        font-weight: normal;
        color: #212529;
        text-align: center;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-color: transparent;
        border: 1px solid transparent;
        padding-bottom: 9.75px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 9.75px;
        font-size: 15px;
        line-height: 22.5px;
        border-radius: 0.25rem;
        -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; }
    .btn:hover {
        color: #212529;
        text-decoration: none; }
    .btn:focus, .btn.focus {
        outline: 0;
        -webkit-box-shadow: 0 0 0 0.2rem rgba(88, 103, 221, 0.25);
        box-shadow: 0 0 0 0.2rem rgba(88, 103, 221, 0.25); }
    .btn.disabled, .btn:disabled {
        opacity: 0.65; }
    a.btn.disabled,
    fieldset:disabled a.btn {
        pointer-events: none; }
    .btn-primary {
        color: #fff;
        background-color: #5867dd;
        border-color: #5867dd; }
    .btn-primary:hover {
        color: #fff;
        background-color: #384ad7;
        border-color: #2e40d4; }
    .btn-primary:focus, .btn-primary.focus {
        -webkit-box-shadow: 0 0 0 0.2rem rgba(113, 126, 226, 0.5);
        box-shadow: 0 0 0 0.2rem rgba(113, 126, 226, 0.5); }
    .btn-primary.disabled, .btn-primary:disabled {
        color: #fff;
        background-color: #5867dd;
        border-color: #5867dd; }
    .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
    .show > .btn-primary.dropdown-toggle {
        color: #fff;
        background-color: #2e40d4;
        border-color: #293ccc; }
    .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
    .show > .btn-primary.dropdown-toggle:focus {
        -webkit-box-shadow: 0 0 0 0.2rem rgba(113, 126, 226, 0.5);
        box-shadow: 0 0 0 0.2rem rgba(113, 126, 226, 0.5); }
    .btn-success {
        color: #fff;
        background-color: #0abb87;
        border-color: #0abb87; }
    .btn-success:hover {
        color: #fff;
        background-color: #08976d;
        border-color: #078b64; }
    .btn-success:focus, .btn-success.focus {
        -webkit-box-shadow: 0 0 0 0.2rem rgba(47, 197, 153, 0.5);
        box-shadow: 0 0 0 0.2rem rgba(47, 197, 153, 0.5); }
    .btn-success.disabled, .btn-success:disabled {
        color: #fff;
        background-color: #0abb87;
        border-color: #0abb87; }
    .btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active,
    .show > .btn-success.dropdown-toggle {
        color: #fff;
        background-color: #078b64;
        border-color: #077e5b; }
    .btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus,
    .show > .btn-success.dropdown-toggle:focus {
        -webkit-box-shadow: 0 0 0 0.2rem rgba(47, 197, 153, 0.5);
        box-shadow: 0 0 0 0.2rem rgba(47, 197, 153, 0.5); }
    .btn-danger {
        color: #fff;
        background-color: #fd397a;
        border-color: #fd397a; }
    .btn-danger:hover {
        color: #fff;
        background-color: #fd1361;
        border-color: #fc0758; }
    .btn-danger:focus, .btn-danger.focus {
        -webkit-box-shadow: 0 0 0 0.2rem rgba(253, 87, 142, 0.5);
        box-shadow: 0 0 0 0.2rem rgba(253, 87, 142, 0.5); }
    .btn-danger.disabled, .btn-danger:disabled {
        color: #fff;
        background-color: #fd397a;
        border-color: #fd397a; }
    .btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled).active,
    .show > .btn-danger.dropdown-toggle {
        color: #fff;
        background-color: #fc0758;
        border-color: #f40252; }
    .btn-danger:not(:disabled):not(.disabled):active:focus, .btn-danger:not(:disabled):not(.disabled).active:focus,
    .show > .btn-danger.dropdown-toggle:focus {
        -webkit-box-shadow: 0 0 0 0.2rem rgba(253, 87, 142, 0.5);
        box-shadow: 0 0 0 0.2rem rgba(253, 87, 142, 0.5); }
    .btn-link {
        font-weight: 400;
        color: #5867dd;
        text-decoration: none; }
    .btn-link:hover {
        color: #2739c1;
        text-decoration: underline; }
    .btn-link:focus, .btn-link.focus {
        text-decoration: underline;
        -webkit-box-shadow: none;
        box-shadow: none; }
    .btn-link:disabled, .btn-link.disabled {
        color: #6c757d;
        pointer-events: none; }
    .btn-lg, .btn-group-lg > .btn {
        padding: 1.15rem 1.65rem;
        font-size: 1.25rem;
        line-height: 1.5;
        border-radius: 0.3rem; }
    .btn-sm, .btn-group-sm > .btn {
        padding: 0.5rem 1rem;
        font-size: 0.875rem;
        line-height: 1.5;
        border-radius: 0.2rem; }
    .btn-block {
        display: block;
        width: 100%; }
    .btn-block + .btn-block {
        margin-top: 0.5rem; }

    .kt-input-icon {
        position: relative;
        padding: 0;
        width: 100%; }
    .kt-input-icon > .kt-input-icon__icon {
        position: absolute;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        top: 0;
        width: 3.2rem; }
    .kt-input-icon > .kt-input-icon__icon.kt-input-icon__icon--left {
        left: 0; }
    .kt-input-icon > .kt-input-icon__icon.kt-input-icon__icon--right {
        right: 0; }
    .kt-input-icon > .kt-input-icon__icon > span {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: 100%; }
    .kt-input-icon > .kt-input-icon__icon > span i {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        line-height: 0;
        color: #a7abc3; }
    .kt-input-icon > .kt-input-icon__icon [class^="la-"],
    .kt-input-icon > .kt-input-icon__icon [class*=" la-"] {
        font-size: 1.4em; }
    .kt-input-icon > .kt-input-icon__icon [class^="fa-"],
    .kt-input-icon > .kt-input-icon__icon [class*=" fa-"] {
        font-size: 1.2em; }
    .kt-input-icon > .kt-input-icon__icon [class^="flaticon-"],
    .kt-input-icon > .kt-input-icon__icon [class*=" flaticon-"],
    .kt-input-icon > .kt-input-icon__icon [class^="flaticon2-"],
    .kt-input-icon > .kt-input-icon__icon [class*=" flaticon2-"] {
        font-size: 1.3em; }
    .kt-input-icon .form-control.form-control-lg + .kt-input-icon__icon {
        width: 4.2rem; }
    .kt-input-icon .form-control.form-control-lg + .kt-input-icon__icon [class^="la-"],
    .kt-input-icon .form-control.form-control-lg + .kt-input-icon__icon [class*=" la-"] {
        font-size: 1.6em; }
    .kt-input-icon .form-control.form-control-lg + .kt-input-icon__icon [class^="fa-"],
    .kt-input-icon .form-control.form-control-lg + .kt-input-icon__icon [class*=" fa-"] {
        font-size: 1.3em; }
    .kt-input-icon .form-control.form-control-lg + .kt-input-icon__icon [class^="flaticon-"],
    .kt-input-icon .form-control.form-control-lg + .kt-input-icon__icon [class*=" flaticon-"],
    .kt-input-icon .form-control.form-control-lg + .kt-input-icon__icon [class^="flaticon2-"],
    .kt-input-icon .form-control.form-control-lg + .kt-input-icon__icon [class*=" flaticon2-"] {
        font-size: 1.4em; }
    .kt-input-icon .form-control.form-control-sm ~ .kt-input-icon__icon {
        width: 2.7rem; }
    .kt-input-icon .form-control.form-control-sm ~ .kt-input-icon__icon [class^="la-"],
    .kt-input-icon .form-control.form-control-sm ~ .kt-input-icon__icon [class*=" la-"] {
        font-size: 1.1em; }
    .kt-input-icon .form-control.form-control-sm ~ .kt-input-icon__icon [class^="fa-"],
    .kt-input-icon .form-control.form-control-sm ~ .kt-input-icon__icon [class*=" fa-"] {
        font-size: 1em; }
    .kt-input-icon .form-control.form-control-sm ~ .kt-input-icon__icon [class^="flaticon-"],
    .kt-input-icon .form-control.form-control-sm ~ .kt-input-icon__icon [class*=" flaticon-"],
    .kt-input-icon .form-control.form-control-sm ~ .kt-input-icon__icon [class^="flaticon2-"],
    .kt-input-icon .form-control.form-control-sm ~ .kt-input-icon__icon [class*=" flaticon2-"] {
        font-size: 1em; }
    .kt-input-icon.kt-input-icon--left .form-control {
        padding-left: 2.8rem; }
    .kt-input-icon.kt-input-icon--left .form-control.form-control-lg {
        padding-left: 3.6rem; }
    .kt-input-icon.kt-input-icon--left .form-control.form-control-sm {
        padding-left: 2.5rem; }
    .kt-input-icon.kt-input-icon--right .form-control {
        padding-right: 2.8rem; }
    .kt-input-icon.kt-input-icon--right .form-control.form-control-lg {
        padding-right: 3.6rem; }
    .kt-input-icon.kt-input-icon--right .form-control.form-control-sm {
        padding-right: 2.5rem; }
    .kt-input-icon.kt-input-icon--fixed {
        display: inline-block; }
    .kt-input-icon.kt-input-icon--fixed-large {
        display: inline-block; }
    .kt-input-icon.kt-input-icon--fixed-small {
        display: inline-block; }


    .form-control {
        display: block;
        width: 100%;
        height: calc(1.5em + 1.3rem + 2px);
        padding: 0.65rem 1rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ebedf2;
        border-radius: 4px;
        -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; }
    .form-control::-ms-expand {
        background-color: transparent;
        border: 0; }
    .form-control:focus {
        color: #495057;
        background-color: #fff;
        border-color: #9aabff;
        outline: 0;
        -webkit-box-shadow: 0 0 0 0.2rem rgba(88, 103, 221, 0.25);
        box-shadow: 0 0 0 0.2rem rgba(88, 103, 221, 0.25); }
    .form-control::-webkit-input-placeholder {
        color: #a7abc3;
        opacity: 1; }
    .form-control:-ms-input-placeholder {
        color: #a7abc3;
        opacity: 1; }
    .form-control::-ms-input-placeholder {
        color: #a7abc3;
        opacity: 1; }
    .form-control::placeholder {
        color: #a7abc3;
        opacity: 1; }
    .form-control:disabled, .form-control[readonly] {
        background-color: #f7f8fa;
        opacity: 1; }

    .form-control:focus, .form-control:active {
        -webkit-box-shadow: none !important;
        box-shadow: none !important; }

    .modal .modal-content {
        border-radius: 4px; }
    .modal .modal-content .modal-header .modal-title {
        font-weight: 500;
        font-size: 1.3rem;
        color: #464457; }
    .modal .modal-content .modal-header .modal-title small {
        font-weight: 400;
        font-size: 0.9rem;
        color: #a7abc3; }
    .modal .modal-content .modal-header .close {
        color: #a7abc3;
        font-family: "LineAwesome";
        text-decoration: inherit;
        text-rendering: optimizeLegibility;
        text-transform: none;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-smoothing: antialiased;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        outline: none !important; }
    .modal .modal-content .modal-header .close:before {
        content: ""; }
    .modal .modal-content .modal-header .close:hover {
        -webkit-transition: all 0.3s;
        transition: all 0.3s; }
    .modal .modal-content .modal-header .close:before {
        font-size: 1.3rem; }
    .modal .modal-content .modal-header .close span {
        display: none; }
    .modal .modal-content .modal-header .close:hover {
        color: #5d78ff; }

    .input-group {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        width: 100%; }
    .input-group > .form-control,
    .input-group > .form-control-plaintext,
    .input-group > .custom-select,
    .input-group > .custom-file {
        position: relative;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        width: 1%;
        margin-bottom: 0; }
    .input-group > .form-control + .form-control,
    .input-group > .form-control + .custom-select,
    .input-group > .form-control + .custom-file,
    .input-group > .form-control-plaintext + .form-control,
    .input-group > .form-control-plaintext + .custom-select,
    .input-group > .form-control-plaintext + .custom-file,
    .input-group > .custom-select + .form-control,
    .input-group > .custom-select + .custom-select,
    .input-group > .custom-select + .custom-file,
    .input-group > .custom-file + .form-control,
    .input-group > .custom-file + .custom-select,
    .input-group > .custom-file + .custom-file {
        margin-left: -1px; }
    .input-group > .form-control:focus,
    .input-group > .custom-select:focus,
    .input-group > .custom-file .custom-file-input:focus ~ .custom-file-label {
        z-index: 3; }
    .input-group > .custom-file .custom-file-input:focus {
        z-index: 4; }
    .input-group > .form-control:not(:last-child),
    .input-group > .custom-select:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0; }
    .input-group > .form-control:not(:first-child),
    .input-group > .custom-select:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0; }
    .input-group > .custom-file {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
    .input-group > .custom-file:not(:last-child) .custom-file-label,
    .input-group > .custom-file:not(:last-child) .custom-file-label::after {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0; }
    .input-group > .custom-file:not(:first-child) .custom-file-label {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0; }

    .input-group-prepend,
    .input-group-append {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
    .input-group-prepend .btn,
    .input-group-append .btn {
        position: relative;
        z-index: 2; }
    .input-group-prepend .btn:focus,
    .input-group-append .btn:focus {
        z-index: 3; }
    .input-group-prepend .btn + .btn,
    .input-group-prepend .btn + .input-group-text,
    .input-group-prepend .input-group-text + .input-group-text,
    .input-group-prepend .input-group-text + .btn,
    .input-group-append .btn + .btn,
    .input-group-append .btn + .input-group-text,
    .input-group-append .input-group-text + .input-group-text,
    .input-group-append .input-group-text + .btn {
        margin-left: -1px; }

    .input-group-prepend {
        margin-right: -1px; }

    .input-group-append {
        margin-left: -1px; }

    .input-group-text {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 0.65rem 1rem;
        margin-bottom: 0;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #a7abc3;
        text-align: center;
        white-space: nowrap;
        background-color: #f7f8fa;
        border: 1px solid #ebedf2;
        border-radius: 4px; }
    .input-group-text input[type="radio"],
    .input-group-text input[type="checkbox"] {
        margin-top: 0; }

    .input-group-lg > .form-control:not(textarea),
    .input-group-lg > .custom-select {
        height: calc(1.5em + 2.3rem + 2px); }

    .input-group-lg > .form-control,
    .input-group-lg > .custom-select,
    .input-group-lg > .input-group-prepend > .input-group-text,
    .input-group-lg > .input-group-append > .input-group-text,
    .input-group-lg > .input-group-prepend > .btn,
    .input-group-lg > .input-group-append > .btn {
        padding: 1.15rem 1.65rem;
        font-size: 1.25rem;
        line-height: 1.5;
        border-radius: 0.3rem; }

    .input-group-sm > .form-control:not(textarea),
    .input-group-sm > .custom-select {
        height: calc(1.5em + 1rem + 2px); }

    .input-group-sm > .form-control,
    .input-group-sm > .custom-select,
    .input-group-sm > .input-group-prepend > .input-group-text,
    .input-group-sm > .input-group-append > .input-group-text,
    .input-group-sm > .input-group-prepend > .btn,
    .input-group-sm > .input-group-append > .btn {
        padding: 0.5rem 1rem;
        font-size: 0.875rem;
        line-height: 1.5;
        border-radius: 0.2rem; }

    .input-group-lg > .custom-select,
    .input-group-sm > .custom-select {
        padding-right: 2rem; }

    .input-group > .input-group-prepend > .btn,
    .input-group > .input-group-prepend > .input-group-text,
    .input-group > .input-group-append:not(:last-child) > .btn,
    .input-group > .input-group-append:not(:last-child) > .input-group-text,
    .input-group > .input-group-append:last-child > .btn:not(:last-child):not(.dropdown-toggle),
    .input-group > .input-group-append:last-child > .input-group-text:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0; }

    .input-group > .input-group-append > .btn,
    .input-group > .input-group-append > .input-group-text,
    .input-group > .input-group-prepend:not(:first-child) > .btn,
    .input-group > .input-group-prepend:not(:first-child) > .input-group-text,
    .input-group > .input-group-prepend:first-child > .btn:not(:first-child),
    .input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0; }

    .kt-checkbox {
        display: inline-block;
        position: relative;
        padding-left: 30px;
        margin-bottom: 10px;
        text-align: left;
        cursor: pointer;
        font-size: 1rem;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease; }
    .kt-checkbox.kt-checkbox--disabled {
        opacity: 0.8;
        cursor: not-allowed; }
    .kt-checkbox > input {
        position: absolute;
        z-index: -1;
        opacity: 0; }
    .kt-checkbox > span {
        border-radius: 3px;
        background: none;
        position: absolute;
        top: 1px;
        left: 0;
        height: 18px;
        width: 18px; }
    .kt-checkbox > span:after {
        content: '';
        position: absolute;
        display: none;
        top: 50%;
        left: 50%;
        margin-left: -2px;
        margin-top: -6px;
        width: 5px;
        height: 10px;
        border-width: 0 2px 2px 0/*rtl:ignore*/ !important;
        -webkit-transform: rotate(45deg)/*rtl:ignore*/;
        transform: rotate(45deg)/*rtl:ignore*/; }
    .kt-checkbox > input:checked ~ span {
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        background: none; }
    .kt-checkbox > input:checked ~ span:after {
        display: block; }
    .kt-checkbox:hover > input:not([disabled]):checked ~ span,
    .kt-checkbox > input:checked ~ span {
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease; }
    .kt-checkbox > input:disabled ~ span {
        opacity: 0.6;
        pointer-events: none; }
    .kt-checkbox.kt-checkbox--solid > span {
        border: 1px solid transparent; }
    .kt-checkbox.kt-checkbox--solid:hover > input:not([disabled]) ~ span,
    .kt-checkbox.kt-checkbox--solid > input:focus ~ span {
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease; }
    .kt-checkbox.kt-checkbox--square > span {
        border-radius: 0; }
    .kt-checkbox.kt-checkbox--bold > span {
        border-width: 2px !important;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease; }
    .form-inline .kt-checkbox {
        margin-left: 15px;
        margin-right: 15px; }
    .kt-checkbox.kt-checkbox--single {
        width: 18px;
        height: 18px; }
    .kt-checkbox.kt-checkbox--single > span {
        top: 0px; }
    th > .kt-checkbox.kt-checkbox--single,
    td > .kt-checkbox.kt-checkbox--single {
        right: -5px; }
    .input-group .kt-checkbox {
        margin-bottom: 0 !important;
        padding-left: 0; }

    .kt-checkbox-list {
        padding: 0 0; }
    .form-horizontal .form-group .kt-checkbox-list {
        padding-top: 0; }
    .kt-checkbox-list .kt-checkbox {
        text-align: left;
        display: block; }
    .kt-checkbox-list .kt-checkbox:last-child {
        margin-bottom: 5px; }

    .kt-checkbox-inline {
        padding: 0 0; }
    .kt-checkbox-inline .kt-checkbox {
        display: inline-block;
        margin-right: 15px;
        margin-bottom: 5px; }
    .kt-checkbox-inline .kt-checkbox:last-child {
        margin-right: 0; }

    .form-group.row .kt-checkbox-inline {
        margin-top: 0.75rem; }

    .form-group.row .kt-checkbox-list {
        margin-top: 2px; }

    .kt-checkbox.kt-checkbox--disabled {
        opacity: 0.7; }

    .kt-checkbox > span {
        border: 1px solid #d1d7e2; }
    .kt-checkbox > span:after {
        border: solid #bfc7d7; }

    .kt-checkbox > input:disabled ~ span:after {
        border-color: #c8cfdd; }

    .kt-checkbox > input:checked ~ span {
        border: 1px solid #c8cfdd; }

    .kt-checkbox.kt-checkbox--bold > input:checked ~ span {
        border: 2px solid #c8cfdd; }

    .kt-checkbox > input:disabled ~ span {
        opacity: 0.6; }

    .kt-checkbox.kt-checkbox--solid > span {
        background: #e4e8ee;
        border: 1px solid transparent !important; }
    .kt-checkbox.kt-checkbox--solid > span:after {
        border: solid #99a6bf; }

    .kt-checkbox.kt-checkbox--solid > input:focus ~ span {
        border: 1px solid transparent !important; }

    .kt-checkbox.kt-checkbox--solid > input:checked ~ span {
        background: #dee2ea; }

    .kt-checkbox.kt-checkbox--brand.kt-checkbox--disabled {
        opacity: 0.7; }

    .kt-checkbox.kt-checkbox--brand > span {
        border: 1px solid #5d78ff; }
    .kt-checkbox.kt-checkbox--brand > span:after {
        border: solid #5d78ff; }

    .kt-checkbox.kt-checkbox--brand > input:disabled ~ span:after {
        border-color: #5d78ff; }

    .kt-checkbox.kt-checkbox--brand > input:checked ~ span {
        border: 1px solid #5d78ff; }

    .kt-checkbox.kt-checkbox--brand.kt-checkbox--bold > input:checked ~ span {
        border: 2px solid #5d78ff; }

    .kt-checkbox.kt-checkbox--brand > input:disabled ~ span {
        opacity: 0.6; }

    .kt-checkbox.kt-checkbox--brand.kt-checkbox--solid > span {
        background: #5d78ff;
        border: 1px solid transparent !important; }
    .kt-checkbox.kt-checkbox--brand.kt-checkbox--solid > span:after {
        border: solid #ffffff; }

    .kt-checkbox.kt-checkbox--brand.kt-checkbox--solid > input:focus ~ span {
        border: 1px solid transparent !important; }

    .kt-checkbox.kt-checkbox--brand.kt-checkbox--solid > input:checked ~ span {
        background: #5d78ff; }

    .kt-checkbox.kt-checkbox--light.kt-checkbox--disabled {
        opacity: 0.7; }

    .kt-checkbox.kt-checkbox--light > span {
        border: 1px solid #ffffff; }
    .kt-checkbox.kt-checkbox--light > span:after {
        border: solid #ffffff; }

    .kt-checkbox.kt-checkbox--light > input:disabled ~ span:after {
        border-color: #ffffff; }

    .kt-checkbox.kt-checkbox--light > input:checked ~ span {
        border: 1px solid #ffffff; }

    .kt-checkbox.kt-checkbox--light.kt-checkbox--bold > input:checked ~ span {
        border: 2px solid #ffffff; }

    .kt-checkbox.kt-checkbox--light > input:disabled ~ span {
        opacity: 0.6; }

    .kt-checkbox.kt-checkbox--light.kt-checkbox--solid > span {
        background: #ffffff;
        border: 1px solid transparent !important; }
    .kt-checkbox.kt-checkbox--light.kt-checkbox--solid > span:after {
        border: solid #282a3c; }

    .kt-checkbox.kt-checkbox--light.kt-checkbox--solid > input:focus ~ span {
        border: 1px solid transparent !important; }

    .kt-checkbox.kt-checkbox--light.kt-checkbox--solid > input:checked ~ span {
        background: #ffffff; }

    .kt-checkbox.kt-checkbox--dark.kt-checkbox--disabled {
        opacity: 0.7; }

    .kt-checkbox.kt-checkbox--dark > span {
        border: 1px solid #282a3c; }
    .kt-checkbox.kt-checkbox--dark > span:after {
        border: solid #282a3c; }

    .kt-checkbox.kt-checkbox--dark > input:disabled ~ span:after {
        border-color: #282a3c; }

    .kt-checkbox.kt-checkbox--dark > input:checked ~ span {
        border: 1px solid #282a3c; }

    .kt-checkbox.kt-checkbox--dark.kt-checkbox--bold > input:checked ~ span {
        border: 2px solid #282a3c; }

    .kt-checkbox.kt-checkbox--dark > input:disabled ~ span {
        opacity: 0.6; }

    .kt-checkbox.kt-checkbox--dark.kt-checkbox--solid > span {
        background: #282a3c;
        border: 1px solid transparent !important; }
    .kt-checkbox.kt-checkbox--dark.kt-checkbox--solid > span:after {
        border: solid #ffffff; }

    .kt-checkbox.kt-checkbox--dark.kt-checkbox--solid > input:focus ~ span {
        border: 1px solid transparent !important; }

    .kt-checkbox.kt-checkbox--dark.kt-checkbox--solid > input:checked ~ span {
        background: #282a3c; }

    .kt-checkbox.kt-checkbox--primary.kt-checkbox--disabled {
        opacity: 0.7; }

    .kt-checkbox.kt-checkbox--primary > span {
        border: 1px solid #5867dd; }
    .kt-checkbox.kt-checkbox--primary > span:after {
        border: solid #5867dd; }

    .kt-checkbox.kt-checkbox--primary > input:disabled ~ span:after {
        border-color: #5867dd; }

    .kt-checkbox.kt-checkbox--primary > input:checked ~ span {
        border: 1px solid #5867dd; }

    .kt-checkbox.kt-checkbox--primary.kt-checkbox--bold > input:checked ~ span {
        border: 2px solid #5867dd; }

    .kt-checkbox.kt-checkbox--primary > input:disabled ~ span {
        opacity: 0.6; }

    .kt-checkbox.kt-checkbox--primary.kt-checkbox--solid > span {
        background: #5867dd;
        border: 1px solid transparent !important; }
    .kt-checkbox.kt-checkbox--primary.kt-checkbox--solid > span:after {
        border: solid #ffffff; }

    .kt-checkbox.kt-checkbox--primary.kt-checkbox--solid > input:focus ~ span {
        border: 1px solid transparent !important; }

    .kt-checkbox.kt-checkbox--primary.kt-checkbox--solid > input:checked ~ span {
        background: #5867dd; }

    .kt-checkbox.kt-checkbox--success.kt-checkbox--disabled {
        opacity: 0.7; }

    .kt-checkbox.kt-checkbox--success > span {
        border: 1px solid #0abb87; }
    .kt-checkbox.kt-checkbox--success > span:after {
        border: solid #0abb87; }

    .kt-checkbox.kt-checkbox--success > input:disabled ~ span:after {
        border-color: #0abb87; }

    .kt-checkbox.kt-checkbox--success > input:checked ~ span {
        border: 1px solid #0abb87; }

    .kt-checkbox.kt-checkbox--success.kt-checkbox--bold > input:checked ~ span {
        border: 2px solid #0abb87; }

    .kt-checkbox.kt-checkbox--success > input:disabled ~ span {
        opacity: 0.6; }

    .kt-checkbox.kt-checkbox--success.kt-checkbox--solid > span {
        background: #0abb87;
        border: 1px solid transparent !important; }
    .kt-checkbox.kt-checkbox--success.kt-checkbox--solid > span:after {
        border: solid #ffffff; }

    .kt-checkbox.kt-checkbox--success.kt-checkbox--solid > input:focus ~ span {
        border: 1px solid transparent !important; }

    .kt-checkbox.kt-checkbox--success.kt-checkbox--solid > input:checked ~ span {
        background: #0abb87; }

    .kt-checkbox.kt-checkbox--info.kt-checkbox--disabled {
        opacity: 0.7; }

    .kt-checkbox.kt-checkbox--info > span {
        border: 1px solid #5578eb; }
    .kt-checkbox.kt-checkbox--info > span:after {
        border: solid #5578eb; }

    .kt-checkbox.kt-checkbox--info > input:disabled ~ span:after {
        border-color: #5578eb; }

    .kt-checkbox.kt-checkbox--info > input:checked ~ span {
        border: 1px solid #5578eb; }

    .kt-checkbox.kt-checkbox--info.kt-checkbox--bold > input:checked ~ span {
        border: 2px solid #5578eb; }

    .kt-checkbox.kt-checkbox--info > input:disabled ~ span {
        opacity: 0.6; }

    .kt-checkbox.kt-checkbox--info.kt-checkbox--solid > span {
        background: #5578eb;
        border: 1px solid transparent !important; }
    .kt-checkbox.kt-checkbox--info.kt-checkbox--solid > span:after {
        border: solid #ffffff; }

    .kt-checkbox.kt-checkbox--info.kt-checkbox--solid > input:focus ~ span {
        border: 1px solid transparent !important; }

    .kt-checkbox.kt-checkbox--info.kt-checkbox--solid > input:checked ~ span {
        background: #5578eb; }

    .kt-checkbox.kt-checkbox--warning.kt-checkbox--disabled {
        opacity: 0.7; }

    .kt-checkbox.kt-checkbox--warning > span {
        border: 1px solid #ffb822; }
    .kt-checkbox.kt-checkbox--warning > span:after {
        border: solid #ffb822; }

    .kt-checkbox.kt-checkbox--warning > input:disabled ~ span:after {
        border-color: #ffb822; }

    .kt-checkbox.kt-checkbox--warning > input:checked ~ span {
        border: 1px solid #ffb822; }

    .kt-checkbox.kt-checkbox--warning.kt-checkbox--bold > input:checked ~ span {
        border: 2px solid #ffb822; }

    .kt-checkbox.kt-checkbox--warning > input:disabled ~ span {
        opacity: 0.6; }

    .kt-checkbox.kt-checkbox--warning.kt-checkbox--solid > span {
        background: #ffb822;
        border: 1px solid transparent !important; }
    .kt-checkbox.kt-checkbox--warning.kt-checkbox--solid > span:after {
        border: solid #111111; }

    .kt-checkbox.kt-checkbox--warning.kt-checkbox--solid > input:focus ~ span {
        border: 1px solid transparent !important; }

    .kt-checkbox.kt-checkbox--warning.kt-checkbox--solid > input:checked ~ span {
        background: #ffb822; }

    .kt-checkbox.kt-checkbox--danger.kt-checkbox--disabled {
        opacity: 0.7; }

    .kt-checkbox.kt-checkbox--danger > span {
        border: 1px solid #fd397a; }
    .kt-checkbox.kt-checkbox--danger > span:after {
        border: solid #fd397a; }

    .kt-checkbox.kt-checkbox--danger > input:disabled ~ span:after {
        border-color: #fd397a; }

    .kt-checkbox.kt-checkbox--danger > input:checked ~ span {
        border: 1px solid #fd397a; }

    .kt-checkbox.kt-checkbox--danger.kt-checkbox--bold > input:checked ~ span {
        border: 2px solid #fd397a; }

    .kt-checkbox.kt-checkbox--danger > input:disabled ~ span {
        opacity: 0.6; }

    .kt-checkbox.kt-checkbox--danger.kt-checkbox--solid > span {
        background: #fd397a;
        border: 1px solid transparent !important; }
    .kt-checkbox.kt-checkbox--danger.kt-checkbox--solid > span:after {
        border: solid #ffffff; }

    .kt-checkbox.kt-checkbox--danger.kt-checkbox--solid > input:focus ~ span {
        border: 1px solid transparent !important; }

    .kt-checkbox.kt-checkbox--danger.kt-checkbox--solid > input:checked ~ span {
        background: #fd397a; }



    /*** Custom Overrides ***/
    #threadSearch {
        font-size: 15px;
    }

    .chat-thread-body-welcome-container {
        h2 {
            color: #646c9a;
            font-size: 30px;
            font-weight: 500;
            line-height: 1.2;
        }
    }

    .chat-threads-loader {
        span {
            color: #646c9a;
            font-size: 15px;
            font-weight: 400;
        }
    }

    .chat-left-panel__button {
        padding: 7.5px 15px;
        font-size: 13.125px;
    }

    .chat-threads * {
        color: #646c9a;
    }

    .chat-thread-body-history-item {
        $this: &;
        * {
            color: #646c9a;
        }

        &-sender {
            .chat-thread-body-history-item-message {
                color: #ffffff !important;
            }
        }
    }

    label {
        color: #646c9a;
        font-size: 15px;
    }

    .add-member-list-container,
    .view-member-list-container {
        * {
            color: #646c9a;
        }
    }

    .modal-title {
        font-size: 19.5px;
    }

    .modal .btn {
        font-size: 14px;
        padding: 9.5px 15px !important;

        i {
            font-size: 18px;
            padding-right: 7.5px;
            vertical-align: middle;
        }
    }

    .modal .close {
        padding: 18.75px;
    }

    #confirm-remove-form.modal .modal-body {
        color: #646c9a;
        font-size: 15px;
        line-height: 22.5px;
        padding: 18.75px;
    }

    .chat-thread-footer-message {
        color: #a7abc3;
        line-height: 22.5px;
        font-size: 15px;
        margin-left: 1px;
        margin-right: 1px;
    }

    .input-group {
        .btn {
            margin: 0;

            i {
                font-size: 18px;
                padding-right: 7.5px;
                vertical-align: middle;
            }
        }
    }
}