<template>
    <div class="chat-container">
        <chat-main-icon ref="chatMainIconWrap" />
        <chat-main-body ref="chatMainBodyWrap" />
        <chat-main-modal-create-group ref="chatMainModalCreateGroupWrap" />
        <chat-main-modal-view-group ref="chatMainModalViewGroupWrap" />
        <chat-main-modal-confirm ref="chatMainModalConfirmWrap" />
    </div>
</template>

<script>
    import ChatMainBody from "./ChatMainBody";
    import ChatMainIcon from "./ChatMainIcon";
    import ChatMainModalCreateGroup from "./ChatMainModalCreateGroup";
    import ChatMainModalViewGroup from "./ChatMainModalViewGroup";
    import ChatMainModalConfirm from "./ChatMainModalConfirm";
    import * as types from '../store/mutation-types';
    import * as Pusher from 'pusher-js';
    import {
        getUnreadMessagesCount as apiGetUnreadMessagesCount,
        broadcastStatus as apiBroadcastStatus,
        getOnlineUsers as apiGetOnlineUsers
    } from "../api/resources";
    import mixin from '../mixins';

    export default {
        name: "ChatMain",
        components: {
            ChatMainBody,
            ChatMainIcon,
            ChatMainModalCreateGroup,
            ChatMainModalViewGroup,
            ChatMainModalConfirm
        },
        props: {
            canAddGroups:  {
                type: String,
                default: 0
            },
            canManageGroups:  {
                type: String,
                default: 0
            },
            loggedUserId: String,
            erpUrl: {
	            type: String,
	            default: ''
            },
            pusherAppId: String,
            pusherKey: String,
            pusherSecret: String,
            pusherCluster: String,
            profilePicture: {
                type: String,
                default: '/bundles/gisttemplate/assets/admin/layout/img/user_avatar.jpg'
            }
        },
        data() {
            return {
            }
        },
        computed: {
        },
        created() {
            this.$store.commit(types.SET_CAN_ADD_GROUPS, this.canAddGroups);
            this.$store.commit(types.SET_CAN_MANAGE_GROUPS, this.canManageGroups);
            this.$store.commit(types.INITIALIZE_USER_ID, this.loggedUserId);
            this.$store.commit(types.SET_USER_PROFILE_PHOTO, this.profilePicture);

            //set the user as offline
            window.addEventListener('beforeunload', () => {
                let data = {
                    userId: this.loggedUserId,
                    status: '1'
                };
                apiBroadcastStatus(data, ({responseData}) => {});
            }, false);
        },
        mounted() {
            let store = this.$store;
            this.getOnlineUsers();

            apiGetUnreadMessagesCount(this.loggedUserId, ({responseData}) => {
                this.$store.commit(types.SET_TOTAL_UNREAD_COUNT, responseData.count);
            });

            let pusher = new Pusher(this.pusherKey, {
                cluster: this.pusherCluster,
                authEndpoint: `${this.erpUrl}/chat/pusher/auth`
            });

            let onlineUsersChannel = pusher.subscribe('online-users');

            onlineUsersChannel.bind('status-1', function(data) {
                store.commit(types.REMOVE_ONLINE_USER, data.userId);
            });

            onlineUsersChannel.bind('status-2', function(data) {
                store.commit(types.ADD_ONLINE_USER, data.userId);
            });

            onlineUsersChannel.bind('changed-name', function(data) {
                store.commit(types.UPDATE_USER_NAME, data);
            });

            onlineUsersChannel.bind('changed-avatar', function(data) {
                store.commit(types.UPDATE_USER_AVATAR, data);
            });

            let channel = pusher.subscribe(`private-user-${this.loggedUserId}`);
            channel.bind('new-message', function(data) {
                store.commit(types.RECEIVE_BROADCAST_MESSAGE, {data: data, isNew: true});
                if (data.message.sender !== 'self') {
                    store.commit(types.SET_THREAD_HAS_UNREAD, data.thread.id);
                    store.commit(types.INCREMENT_TOTAL_UNREAD_COUNT);
                }
            });

            channel.bind('removed-from-thread', function(data) {
                store.commit(types.REMOVE_THREAD, data.threadId);
            });

            channel.bind('participant-left', function(data) {
                store.commit(types.OTHERS_LEFT_THREAD, data);
            });

            channel.bind('new-thread', function(data) {
                store.commit(types.ADD_THREAD, data.thread);
            });

            channel.bind('seen-messages', function(data) {
                store.commit(types.MARK_MESSAGES_AS_SEEN, data.message_ids);
            });

            this.setBinders();
            this.broadcastAsOnline();
        },
        methods: {
            getOnlineUsers() {
                let data = {
                    userId: this.loggedUserId
                };
                apiGetOnlineUsers(data, ({responseData}) => {
                    this.$store.commit(types.SET_ONLINE_USERS, responseData.users);
                });
            },
            broadcastAsOnline() {
                let data = {
                    userId: this.loggedUserId,
                    status: '2'
                };
                apiBroadcastStatus(data, ({responseData}) => {});
            },
            setBinders(){
                const chatMainBody = this.$refs.chatMainBodyWrap.$refs.chatMainBody;
                const chatMainIcon = this.$refs.chatMainIconWrap.$refs.chatMainIcon;

                this.$root.$on('on::chatbox::close', () => {
                    if (this.effectTimeout) {
                        clearTimeout(this.effectTimeout)
                    }
                    this.effectTimeout = setTimeout(() => {
                        this.$store.commit(types.SET_COMPACT_CHAT_VISIBILITY, false);
                        chatMainBody.style.display = 'none';
                        chatMainIcon.removeAttribute('style');
                        chatMainIcon.setAttribute('class', 'chat-main-icon chat-main-icon--fade-in');
                    }, 220);
                });
                this.$root.$on('on::scroll::bottom', () => {
                    const refChatThreadBodyHistory = document.querySelector('#chatThreadBodyHistory');
                    setTimeout(() => {
                        if(
                            refChatThreadBodyHistory !== undefined &&
                            refChatThreadBodyHistory !== null
                        ) {
                            refChatThreadBodyHistory.scrollTop = refChatThreadBodyHistory.scrollHeight;
                        }
                    }, 10);
                });
            }
        },
        mixins:[mixin]
    }
</script>

<style scoped lang="scss">
    .chat-container {
        @media only screen and (max-width: 767px) {
            position: relative;
            z-index: 10;
        }
    }
</style>
