<template>
  <div id="view-group-form" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"><i class="fa fa-user-friends kt-margin-r-5"></i> Chat Group - {{ currentThread.thread_name }}</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-3">
                    <label>Group Photo</label>
                    <div class="view-group-photo-container">
                      <div class="view-group-photo">
                        <img src="/bundles/gisttemplate/assets/global/img/logo-only-transparent.png"/>
                        <span class="view-group-photo__overlay"><i class="fa fa-redo"></i></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-9">
                    <div class="form-group kt-margin-0">
                      <label>New Group Name</label>
                      <input ref="refGroupName"
                             type="text"
                             maxlength="30"
                             v-model="groupName"
                             class="form-control"
                             placeholder="Enter Group name"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="kt-separator kt-separator--border-dashed kt-separator--space-sm kt-separator--portlet-fit"></div>

            <div class="col-12 kt-padding-0">
              <div class="form-group kt-margin-0">
                <label>Search Participants</label>
                <div class="kt-input-icon kt-input-icon--left">
                  <input ref="refMemberSearch"
                         type="text"
                         class="form-control"
                         placeholder="Search..."
                         v-model="memberSearch"
                         @keyup.prevent="searchMember"
                  >
                  <span class="kt-input-icon__icon kt-input-icon__icon--left">
                    <span>
                      <i :class="{
                            'la la-search': !checkIsSearching,
                            'fa fa-spinner fa-spin': checkIsSearching
                          }"
                      ></i></span>
                  </span>
                </div>
              </div>
            </div>

            <div class="view-member-list-container">
              <div class="view-member-list-search-loader" v-if="checkIsSearching">
                <span><i class="fa fa-spinner fa-spin kt-margin-r-5"></i></span>
                <span>Loading...</span>
              </div>

              <ul class="view-member-list" v-if="!checkIsSearching">
                <li class="view-member-list-item"
                    :class="{'view-member-list-item--is-selected': member.is_selected}"
                    :data-member-id="member.id"
                    v-for="(member, key) in this.currentThread.members"
                    @mouseover="tooltip($event)"
                >
                  <div class="view-member-list-item-wrapper">
                    <div class="view-member-list-item__checkbox"
                    >
                      <label class="kt-checkbox"
                             @click="selectMember($event)"
                      >
                          <input type="checkbox"
                                 :value="member.id"
                                 v-model="selectedMembers"
                                 v-show="canManageGroups"
                          />
                          <span></span>
                      </label>
                    </div>

                    <div class="view-member-list-item__image-container">
                      <img :src="member.img_url"
                           class="view-member-list-item__image"
                           width="36"
                           height="36"
                      />
                    </div>

                    <div class="view-member-list-item__contact-name">{{ member.name }}</div>

                    <div class="view-member-list-item__check-container"
                         v-if="!membersSelected.length"
                         v-show="canManageGroups"
                    >
                      <span
                          class="view-member-list-item__check-confirm"
                          style="display: none"

                    >Are you sure?
                      <span class="btn btn-sm btn-success" @click="removeParticipant(member.id, $event)">Yes</span> /
                      <span class="btn btn-sm btn-danger" @click="hideConfirm(member.id, $event)">No</span>
                    </span>

                      <i class="fa fa-times-circle kt-font-danger"
                         :title="`Remove ${member.name}`"
                         :data-member-id="member.id"
                         @click.prevent="showConfirm(member.id, $event)"
                      ></i>

                    </div>
                  </div>

                  <div class="view-member-list-item__information-wrapper">
                    <div class="view-member-list-item__information">
                        <div class="row">
                          <div class="col-md-3">
                            <img :src="member.img_url"
                                 class="view-member-list-item__information-image"
                            />
                          </div>
                          <div class="col-md-9 view-member-list-item__information-details">
                            <h5>{{ member.name }}</h5>
                            <div><strong>Position:</strong> {{ member.position || "" }}</div>
                            <div><strong>Department:</strong> {{ member.department || "" }}</div>
                            <div><strong>Area:</strong> {{ member.area || "" }}</div>
                          </div>
                        </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </form>
        </div>

        <div class="modal-footer">
          <button type="button"
                  name="remove_selected"
                  id="remove_selected"
                  class="btn btn-danger"
                  @click="confirmRemoveSelected($event)"
                  v-if="membersSelected.length && canManageGroups"
          >
            <i class="fa fa-minus-circle"></i> Remove Selected
          </button>
          <button type="button"
                  name="save_all"
                  id="save_all"
                  class="btn btn-primary"
                  :disabled="!groupName.length"
                  @click="saveAll($event)"
          >
            <i class="fa fa-save"></i> Save New Name
          </button>
          <button type="button" data-dismiss="modal" class="btn btn-danger" @click="clearMembersSelected">Close</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import {
  removeUsersFromThread as apiRemoveUsersFromThread,
  getThreadUsers as apiGetThreadUsers,
  updateThreadName as apiUpdateThreadName
} from "../api/resources";
import * as types from '../store/mutation-types';
import mixin from '../mixins';

export default {
	name: "ChatMainModalViewGroup",
	data() {
		return {
			isTypingTimeout: false,
			isSearching: false,
            groupName: '',
            memberSearch: '',
            selectedMembers: []
		}
	},
	computed: {
		...mapGetters({
          loggedUserId: 'loggedUserId',
          currentThread: 'currentThread',
          participants: 'participants',
          typingTimeout: 'typingTimeout',
          canAddGroups: 'canAddGroups',
          canManageGroups: 'canManageGroups',
          membersSelected: 'membersSelected'
		}),
		checkIsSearching(){
			return this.isSearching === true
		},
        checkParticipantsCount() {
          return (this.currentThread.member_count - this.membersSelected.length) < 2;
        }
	},
	mounted() {
      let $this = this;

      $('#view-group-form').on('shown.bs.modal', function () {
        $this.$refs.refGroupName.focus();
        $this.searchApi(null);
      });

      $('#view-group-form').on('hidden.bs.modal', function () {
        $this.memberSearch = '';
        $this.groupName = '';
      });
	},
    watch: {
      selectedMembers(val) {
        if (val.length) {
          this.$store.commit(types.SET_MEMBERS_SELECTED, val);
        }
      },
    },
	methods: {
	  searchApi(searchText = null) {
        let data = {
          threadId: this.currentThread.id,
          filter: searchText
        };

        apiGetThreadUsers(data, ({responseData}) => {
          let dataUpdate = {
            threadId: responseData.threadId,
            members: responseData.members
          };

          this.$store.commit(types.UPDATE_THREAD_MEMBERS, dataUpdate);
        });
      },
      searchMember() {
        this.isSearching = true;
        clearTimeout(this.isTypingTimeout);
        this.isTypingTimeout = setTimeout(() => {
          this.searchApi(this.memberSearch);
          this.isSearching = false;
        }, this.typingTimeout)
      },
      selectMember(e) {
        let li = e.toElement.localName === "li" ? $(e.target) : $(e.target).parent('li');
        li.find('input').trigger('click');
      },
      confirmRemoveSelected() {
        // Show Confirm Dialog, Hide Group Chat Info
        $('#confirm-remove-form').modal('show');
        $('#view-group-form').modal('hide');

      },
      showConfirm(id, e) {
        let element = $('i[data-member-id="'+id+'"]');
        if(element.prev().hasClass('show-confirm')) {
          element.prev().removeClass('show-confirm');
          element.prev().hide();
          return;
        }
        element.parent().prev().addClass('view-member-list-item__contact-name--is-active');
        element.prev().addClass('show-confirm');
        element.prev().show();
        $(e.target).hide();
      },
      hideConfirm(id, e) {
        $(e.target).parent().parent().prev().removeClass('view-member-list-item__contact-name--is-active');
        $(e.target).parent().removeClass('show-confirm');
        $(e.target).parent().hide();
        $(e.target).parent().next().show();
      },
      removeParticipant(id, e) {
        if((this.currentThread.member_count - 1) < 2) {
          this.showToastError('Error', 'Chat group must have at least 2 participants');
          $('#confirm-remove-form').modal('hide');
          return;
        }

        let data = {
          userId: this.loggedUserId,
          threadId: this.currentThread.id,
          threadParticipantIDs: [id]
        };

        apiRemoveUsersFromThread(data, ({responseData}) => {
          let element = $('li[data-member-id="'+id+'"]');
          element.remove();
          this.hideConfirm(id, e);
        });
      },
      saveAll(e) {
        let save_all = document.getElementById('save_all');
        save_all.innerHTML = '<i class="fa fa-spinner fa-spin kt-margin-r-5"></i> Saving...';
        save_all.classList.add('disabled');

        if(!this.groupName) {
          this.showToastError('Error', 'Group Name is required and cannot be empty');
          _resetButton();
          return;
        }

        setTimeout(() => {
          let data = {
            threadId: this.currentThread.id,
            newName: this.groupName
          };

          apiUpdateThreadName(data, ({responseData}) => {
            let dataUpdate = {
              threadId: responseData.threadId,
              newName: responseData.newName
            };

            this.$store.commit(types.UPDATE_THREAD_NAME, dataUpdate);
            this.showToastSuccess('Success', 'Changes were successfully saved.');
            _resetButton();
            $('#view-group-form').modal('hide');
          });
        }, 250);

        function _resetButton(){
          save_all.innerHTML = '<i class="fa fa-save"></i> Save New Name';
          save_all.classList.remove('disabled');
        }
      },
      tooltip(e) {
        var $menuItem = $(e.target).closest('li'),
            $submenuWrapper = $('> .view-member-list-item__information-wrapper', $menuItem);

        // grab the menu item's position relative to its positioned parent
        var menuItemPos = $menuItem.position();

        // place the submenu in the correct position relevant to the menu item
        $submenuWrapper.css({
          top: menuItemPos.top + Math.round($menuItem.outerWidth() * 0.14),
          left: menuItemPos.left
        });
      },
      clearMembersSelected(){
        this.$store.commit(types.RESET_MEMBERS_SELECTED);
        this.selectedMembers = []
      },
	},
    mixins:[mixin]
}
</script>

<style scoped lang="scss">
  @import '../assets/scss/chat';

  .view-member-list {
      height: 100%;
      list-style: none;
      margin: 0;
      overflow-y: auto;
      padding: 0;

      &::-webkit-scrollbar {
          -webkit-appearance: none;
          width: 7px;
      }

      &::-webkit-scrollbar-thumb {
          background-color: rgba(0,0,0,.5);
          border-radius: 4px;
          box-shadow: 0 0 1px rgba(255,255,255,.5);
      }

      &-container {
          height: 40vh;
      }

      &-search-loader,
      &-search__empty {
          align-items: center;
          display: flex;
          height: 100%;
          font-size: 16px;
          justify-content: center;
          text-align: center;
      }

      &-item {
          $this: &;
          clear: both;
          cursor: pointer;
          height: 60px;
          padding: 0;
          position: static;
          user-select: none;

          &-wrapper {
            border-bottom: 1px dashed gray;
            display: block;
            line-height: 60px;
            position: relative;
            width: 100%;
          }

          &:hover > #{$this}__information-wrapper {
            display: block;
          }

          &--is-selected {
              background: #f1f0f0;
          }

          &__checkbox {
            display: inline-block;
            position: relative;
            top: -2px;
            width: 30px;
          }

          &__image {
              border-radius: 50%;

              &-container {
                  display: inline-block;
              }
          }

          &__contact-name {
              display: inline-block;
              font-size: 20px;
              line-height: 1;
              margin-left: 10px;
              max-width: 340px;
              overflow: hidden;
              position: relative;
              text-overflow: ellipsis;
              top: 8px;
              white-space: nowrap;
              width: 100%;

            &--is-active {
              max-width: 145px;
            }
          }

          &__check-container {
              position: absolute;
              font-size: 23px;
              line-height: 1;
              right: 10px;
              top: 21px;

              .btn {
                color: #fff !important;
                margin: 0;
                padding: 7.5px 15px !important;
              }

              i {
                cursor: pointer;
              }
          }

          &__information {
            -webkit-box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
            -moz-box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
            background: rgba(255, 255, 255, .95);
            border: 1px solid $borders;
            box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
            padding: 10px;
            width: 465px;

            &:before,
            &:after {
              border: solid transparent;
              bottom: 100%;
              content: " ";
              height: 0;
              left: 11%;
              position: absolute;
              pointer-events: none;
              width: 0;
            }

            &:after {
              border-color: rgba(136, 183, 213, 0);
              border-bottom-color: #fff;
              border-width: 14px;
              margin-bottom: -1px;
              margin-left: -14px;
            }

            &:before {
              border-color: rgba(194, 225, 245, 0);
              border-bottom-color: $borders;
              border-width: 14px;
              margin-left: -14px;
            }

            &-wrapper {
              display: none;
              position: absolute;
              z-index: 9;
            }

            &-image {
              border: 1px solid $borders;
              height: 96px;
              width: 96px;
            }

            &-details {
              font-size: 13px;
              padding-top: 5px;

              div {
                line-height: 1.4;
              }
            }
          }

          &__check-confirm {
            cursor: pointer;
            font-size: 14px;
            position: relative;
            top: -4px;

            span:first-child {
              margin-left: 5px;
            }
          }

      }
  }

  .view-group-photo {
    $photo-size: 36px;

    position: relative;
    width: $photo-size;

    %group-photo {
      border-radius: 50%;
      height: $photo-size;
      width: $photo-size;
    }

    img {
      @extend %group-photo;
    }

    &__button {
      @extend %group-photo;

      background: transparent;
      border: 2px solid gray;
    }

    &__overlay {
      align-items: center;
      background: rgba(0,0,0,0.35);
      border-radius: 50%;
      color: #fff;
      display: flex;
      height: 100%;
      justify-content: center;
      left: 0;
      position: absolute;
      top: 0;
      visibility: hidden;
      width: 100%;
    }

    &:hover > &__overlay {
      visibility: visible;
    }
  }
</style>
