<template>
	<div id="confirm-remove-form" class="modal fade" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
				  <h4 class="modal-title"><i class="fa fa-user-friends kt-margin-r-5"></i> Confirm to Remove Participants</h4>
				  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>

				<div class="modal-body">
					Are you sure you want to remove these participants?
				</div>

				<div class="modal-footer">
					<button type="button"
                            name="remove_confirm"
                            id="remove_confirm"
                            class="btn btn-primary"
                            @click="removeSelected"
					>
                        <i class="fa fa-minus-circle"></i> Remove Selected
					</button>
					<button type="button" data-dismiss="modal" class="btn btn-danger">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import { mapGetters } from 'vuex';
import {
	removeUsersFromThread as apiRemoveUsersFromThread
} from "../api/resources";
import * as types from '../store/mutation-types';
import mixin from '../mixins';

export default {
	name: "ChatMainModalConfirm",

	computed: {
		...mapGetters({
			loggedUserId: 'loggedUserId',
			currentThread: 'currentThread',
			membersSelected: 'membersSelected'
		}),
	},
	methods: {
		removeSelected() {
			let membersSelected = this.membersSelected;
			let $this = this;

			let data = {
				userId: this.loggedUserId,
				threadId: this.currentThread.id,
				threadParticipantIDs: membersSelected
			};

			apiRemoveUsersFromThread(data, ({responseData}) => {
				for(let m = 0; m < membersSelected.length; m++) {
					let element = $('li[data-member-id="'+membersSelected[m]+'"]');
					element.remove();
				}
				$this.clearMembersSelected();
				$this.showToastSuccess('Success', 'Participants removed successfully.');
			});

			$('#confirm-remove-form').modal('hide');
			this.onRemoveConfirmModalClose();
        },
		onRemoveConfirmModalClose() {
			$('#confirm-remove-form').on('hidden.bs.modal', function(){
				$('#view-group-form').modal('show');
			});
		},
		clearMembersSelected(){
			this.$store.commit(types.RESET_MEMBERS_SELECTED);
			this.selectedMembers = []
		},
	},
	mixins:[mixin]
}
</script>

<style scoped lang="scss">
  @import '../assets/scss/chat';
</style>
