<template>
  <div class="col-md-8 kt-padding-0">
    <div class="chat-thread">
      <!-- HEADER -->
      <div class="chat-thread-head">
        <div :class="{'chat-thread-contact': isThreadTypeDirect(currentThread),
            'chat-thread-group': isThreadTypeGroup(currentThread)
          }"
        >
          <div class="chat-thread__image-container" v-show="!isCurrentThreadEmpty">
            <img :src="currentThread.img_url"
                 class="chat-thread__image"
                 :class="{'chat-thread__image--is-group': isThreadTypeGroup(currentThread)}"
                 width="36"
                 height="36"
            />
            <span class="chat-thread__status"
                  :class="{'chat-thread__status--active': isUserOnline(currentThread.user_id) }"
                  v-show="isThreadTypeDirect(currentThread)"
            ></span>
          </div>
          <div :class="{'chat-thread__contact-name': isThreadTypeDirect(currentThread),
              'chat-thread__group-name': isThreadTypeGroup(currentThread)
            }"
               v-show="!isCurrentThreadEmpty"
          >
            {{ currentThread.thread_name }}
          </div>
          <div class="chat-thread-information"
               v-if="isThreadTypeDirect"
          >
            <div class="row">
              <div class="col-md-3">
                <img :src="currentThread.img_url"
                     class="chat-thread-information__image"
                />
              </div>
              <div class="col-md-9 chat-thread-information__details">
                <h5>{{ currentThread.thread_name }}</h5>
                <div><strong>Position:</strong> {{ currentThread.position !== undefined ? currentThread.position : "n/a" }}</div>
                <div><strong>Department:</strong> {{ currentThread.department !== undefined ? currentThread.department : "n/a" }}</div>
                <div><strong>Area:</strong> {{ currentThread.area !== undefined ? currentThread.area : "n/a" }}</div>
              </div>
            </div>
          </div>
          <div class="chat-thread__participants"
               v-if="currentThread.thread_type > 1"
               v-show="!isCurrentThreadEmpty"
          >
            <a href="javascript:void(0);"
               class="btn btn-success"
               data-toggle="modal"
               data-target="#view-group-form">
              <span>{{currentThread.member_count}}</span> members
            </a>
          </div>
          <div class="chat-thread__minimize-chat"
               @click="closeChatbox"
          >
            <i class="fas fa-minus"></i>
          </div>
        </div>
      </div>

      <!-- HISTORY -->
      <div class="chat-thread-body"
           :class="{'chat-thread-body-welcome': isCurrentThreadEmpty}"
      >
        <div class="chat-thread-body-load-more"
             v-show="this.hasNewMessage"
        >
          Loading chat history
          <i class="fas fa-circle chat-thread-body-load-more-dot"></i>
          <i class="fas fa-circle chat-thread-body-load-more-dot"></i>
          <i class="fas fa-circle chat-thread-body-load-more-dot"></i>
        </div>

        <div class="chat-thread-body-welcome-container text-center"
             v-show="isCurrentThreadEmpty"
        >
          <div>
            <h2>WELCOME TO FIBER POS CHAT</h2>
          </div>
          <img src="/bundles/gisttemplate/assets/global/img/logo-new.png" alt="">

        </div>

        <div class="chat-thread-body-history-container"
             v-show="!isCurrentThreadEmpty"
        >
          <div class="chat-thread-body-history__loader"
               v-show="isLoadingHistory"
          >
              <span><i class="fa fa-spinner fa-spin"></i> Loading History...</span>
          </div>

          <div class="chat-thread-body-history--is-empty"
               v-show="!isLoadingHistory && !sortedMessages.length"
          >
              <span>{{ currentThread.recent_message }}</span>
          </div>

          <ul
              ref="refChatThreadBodyHistory"
              id="chatThreadBodyHistory"
              class="chat-thread-body-history"
              @scroll="onScrollLoadMore"
              v-if="sortedMessages.length"
          >
            <li class="chat-thread-body-history-item"
                :class="{'chat-thread-body-history-item-receiver': isHistoryLogOthers(historyLog),
                  'chat-thread-body-history-item-sender': isHistoryLogSelf(historyLog)
                }"

                v-for="(historyLog, historyLogIndex) in sortedMessages"
            >

              <!-- NOTE: For Groups, display participants name -->
              <div class="chat-thread-body-history-item-name"
                   v-if="isThreadTypeGroup(currentThread) && historyLog.sender == 'others'"
              >
                <span>{{ historyLog.sender_name || 'Name'}}</span>
                <span class="chat-thread-body-history-item-short-info"
                      :class="{'kt-hidden': !historyLog.sender_department}"
                >
                  ({{ historyLog.sender_department || 'Department'}} &ndash; {{ historyLog.sender_area || 'Area'}})
                </span>
              </div>

              <div class="chat-thread-body-history-item__image-container">
                <img :src="historyLog.img_url"
                     class="chat-thread-body-history-item__image"
                     width="36"
                     height="36"
                />
              </div>

              <div class="chat-thread-body-history-item-information">
                <div class="row">
                  <div class="col-md-3">
                    <img :src="historyLog.img_url"
                         class="chat-thread-body-history-item-information__image"
                    />
                  </div>
                  <div class="col-md-9 chat-thread-body-history-item-information__details">
                    <h5>{{ historyLog.sender_name }}</h5>
                    <div><strong>Position:</strong> {{ historyLog.position !== undefined ? historyLog.position : "n/a" }}</div>
                    <div><strong>Department:</strong> {{ historyLog.department !== undefined ? historyLog.department : "n/a" }}</div>
                    <div><strong>Area:</strong> {{ historyLog.area !== undefined ? historyLog.area : "n/a" }}</div>
                  </div>
                </div>
              </div>

              <div class="chat-thread-body-history-item-message"
                   :class="{'chat-thread-body-history-item-message--is-unsent': isHistoryLogStatusRetry(historyLog)}"
                   :title="historyLog.date_timestamp | formatDateTime"
              >
                {{ historyLog.message }}
              </div>

              <div class="chat-thread-body-history-item-status"
                   :class="{'chat-thread-body-history-item-status--is-retry': isHistoryLogStatusRetry(historyLog)}"
                   v-if="isHistoryLogSelf(historyLog)"
                   @click.prevent.stop="resendMessage(historyLog, $event)"
              >
                <span
                    :class="{
                      'kt-font-danger': isHistoryLogStatusRetry(historyLog),
                      'kt-font-primary': isHistoryLogStatusSent(historyLog),
                      'kt-font-success': isHistoryLogStatusSeenAll(historyLog),
                      'kt-font-secondary kt-margin-r-0': isHistoryLogStatusSeen(historyLog)
                    }"
                >
                  <i class="fa"
                     :class="{
                      'fa-spin fa-sync': isHistoryLogStatusRetry(historyLog) && isResendingMessage,
                      'fa-sync': isHistoryLogStatusRetry(historyLog),
                      'fa-check': isHistoryLogStatusSent(historyLog),
                      'fa-check-double': isHistoryLogStatusSeenAll(historyLog) || isHistoryLogStatusSeen(historyLog)
                     }"
                  ></i>
                  <span v-if="isHistoryLogStatusRetry(historyLog) && !isResendingMessage">Retry</span>
                  <span v-if="isHistoryLogStatusRetry(historyLog) && isResendingMessage">Retrying...</span>
                  <span v-if="isHistoryLogStatusSent(historyLog)">Sent</span>
                  <span v-if="isHistoryLogStatusSending(historyLog)">Sending</span>
                  <span v-if="isHistoryLogStatusSeen(historyLog)">Seen</span>
                  <span v-if="isHistoryLogStatusSeenAll(historyLog)">Seen by All</span>
                </span>
              </div>

              <div class="chat-thread-body-history-item-date"
                   v-if="checkIfDisplayDate(historyLog, historyLogIndex)"
              >
                <span>{{ historyLog.date_timestamp | formatDateTime }}</span>
              </div>
            </li>
          </ul>
        </div>

        <div class="chat-thread-body-new-messages"
             v-show="this.hasNewMessage"
        >
          <a href="javascript:void(0);"><i class="fa fa-arrow-circle-down"></i> View New Messages</a>
        </div>
      </div>

      <!-- FOOTER MESSAGE INPUT -->
      <div class="chat-thread-footer"
           v-show="!isCurrentThreadEmpty"
      >
        <div class="chat-thread-footer-message-container">
          <div class="input-group"
               @keydown.enter.prevent="sendMessage"
          >
<!--            <textarea-emoji-picker-->
<!--                v-model="internalEmojiText"-->
<!--                class="chat-thread-footer-message"-->
<!--            />-->

            <div class="input-group-append">
              <a href="javascript:void(0);"
                 class="btn btn-primary chat-thread-footer-send"
                 @click="sendMessage"
              >
                <i class="fas fa-paper-plane"></i> Send</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import * as messageStatusTypes from '../store/message-status-types.js';
  import * as types from '../store/mutation-types';
  import { mapGetters } from 'vuex';
  import mixin from '../mixins';

  export default {
    name: "ChatMainBodyRightPanel",
    props: {
      threads: {
        type: Array,
        required: true,
        default: []
      },
      emojiText: {
        type: String,
        required: true,
        default: ''
      }
    },
    data() {
      return {
        internalEmojiText: this.emojiText,
        hasNewMessage: false,
        effectTimeout: 0,
        seen_by: '',
        isResendingMessage: false,
        autoScrollMessages: true,
        sendingStatus: messageStatusTypes.SENDING,
        sentStatus: messageStatusTypes.SENT,
        failedStatus: messageStatusTypes.FAILED_TO_SEND,
        seenStatus: messageStatusTypes.SEEN,
        seenByAllStatus: messageStatusTypes.SEEN_BY_ALL,
      }
    },
    computed: {
      ...mapGetters({
        showMessagesSection: 'showMessagesSection',
        currentThread: 'currentThread',
        messages: 'messages',
        members: 'members',
        currentThreadKey: 'currentThreadKey',
        loggedUserId: 'loggedUserId',
        sortedMessages: 'sortedMessages',
        isLoadingHistory: 'isLoadingHistory',
        loggedUserProfilePhoto: 'loggedUserProfilePhoto',
        threadMessagesIDs: 'threadMessagesIDs',
        onlineUsers: 'onlineUsers'
      }),
      isCurrentThreadEmpty() {
        return Object.keys(this.currentThread).length === 0 && this.currentThread.constructor === Object
      },
      getListSeenByUsers() {
        let members = this.members;
        let members_id = this.currentThread.members_id;

        // NOTE:
        // Loop into `members`.
        // Compare if `members_id` in `currentThread` is found in `members`
        // If found, get the name from `members` and add it to local data variable `seen_by`
        for(let mid_ctr = 0; mid_ctr < members_id.length; mid_ctr++) {
          for(let m_ctr = 0; m_ctr < members.length; m_ctr++) {
            if(members_id[mid_ctr] === members[m_ctr].id) {
              this.seen_by += members[m_ctr].name + ', ';
            }
          }
        }

        // Remove the `, ` at the end.
        this.seen_by = this.seen_by.substring(0, this.seen_by.length - 2);

        return this.seen_by;
      },
      getTruncatedListSeenByUsers() {
        let users = this.seen_by.split(', ');
        if(users.length > 3) {
          return users[0] + ", " + users[1] + ', ' + users[2] + ' and more...';
        }
      }
    },
    mounted() {
      this.scrollToBottom(this.$refs.refChatThreadBodyHistory);
    },
    watch: {
      sortedMessages() {
        this.$nextTick(() => {
          if (this.autoScrollMessages) {
            //scroll to bottom of messages area if initial loading of thread messages
            this.scrollToBottom(this.$refs.refChatThreadBodyHistory);
          }
        });
      },
    },
    methods: {
      isUserOnline(userId) {
        return this.onlineUsers.includes(userId);
      },
      checkIfDisplayDate(historyLog, historyLogIndex) {
        let history = this.currentThread.history;
        if(history[historyLogIndex - 1] !== undefined) {
          return (!this.isHistoryLogStatusRetry(historyLog)) &&
                 (history[historyLogIndex - 1].sender != historyLog.sender)
        }
        return !this.isHistoryLogStatusRetry(historyLog);
      },
      onScrollLoadMore(event) {
        // Temporarily disabled
        // event.preventDefault();
        // const element = event.target;
        // if (element.scrollTop === 0 && this.currentThread.history.length > 1) {
        //   this.$root.$emit('loadMoreMessages', true);
        // }
      },
      sendMessage() {
        let textarea = document.getElementById('message_textarea');
        let now = new Date().getTime();
            now = parseInt(moment(now).format("X"));
        let isEmpty = textarea.value.trim() === '';

        if(isEmpty) {
          textarea.focus();
          return
        }

        if(!isEmpty) {
          this.autoScrollMessages = true;
          let text = textarea.value;
          let payload = {
            text,
            thread: this.currentThread,
            loggedUserId: this.loggedUserId,
            profilePicture: this.loggedUserProfilePhoto
          };

          this.$store.dispatch('sendMessage', payload);

          // Clear All / Hide Emoji
          textarea.value = '';
          this.internalEmojiText = '';
          this.$children[0].showEmojiPicker = false;
        }
      },
      resendMessage(message) {
        // prevent resending of sent or being sent messages
        if (
                message.status === this.sentStatus ||
                message.status === this.sendingStatus ||
                message.status === this.seenStatus ||
                message.status === this.seenByAllStatus ||
                message.sent === true
        ) {
          return;
        }

        this.autoScrollMessages = true;

        // get the failed message object
        let failedThreadMessage = this.$store.state.messages.find(function (threadMessage) {
          return threadMessage.id === message.id;
        });

        let payload = {
          text: failedThreadMessage.message,
          thread: this.currentThread,
          loggedUserId: this.loggedUserId,
          profilePicture: this.loggedUserProfilePhoto
        };

        // clean-up failed message
        this.$store.commit(types.REMOVE_FROM_THREAD_MESSAGES, {failedThreadMessage});

        // attempt resending object of failed message
        this.$store.dispatch('sendMessage', payload);
      }
    },
    mixins:[mixin]
  };
</script>

<style scoped lang="scss">
  @import '../assets/scss/chat';

  .chat-thread {
    $thread: &;
    border-right: 1px solid $borders;
    height: 100%;
    width: 100%;

    @media only screen and (max-width: 767px) {
      height: 600px;
      position: relative;
      width: 100%;
    }

    &-information {
      -webkit-box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
      -moz-box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
      background: rgba(255, 255, 255, .95);
      border: 1px solid $borders;
      box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
      display: none;
      left: 15px;
      padding: 10px;
      position: absolute;
      top: 75px;
      width: 433px;
      z-index: 90;

      &:before,
      &:after {
        border: solid transparent;
        bottom: 100%;
        content: " ";
        height: 0;
        left: 50%;
        position: absolute;
        pointer-events: none;
        width: 0;
      }

      &:after {
        border-color: rgba(136, 183, 213, 0);
        border-bottom-color: #fff;
        border-width: 14px;
        margin-left: -14px;
      }

      &:before {
        border-color: rgba(194, 225, 245, 0);
        border-bottom-color: $borders;
        border-width: 15px;
        margin-left: -15px;
      }

      &__image {
        border: 1px solid $borders;
        height: 96px;
        width: 96px;
      }

      &__details {
        color: fiberpos-color('body');
        font-size: 13px;
        padding-top: 5px;

        div {
          line-height: 1.4;
        }
      }
    }

    &-head {
      background: fiberpos-color();
      height: 60px;
    }

    &-contact,
    &-group {
      color: #fff;
      line-height: 60px;
      padding-left: 10px;
    }

    &__image {
      border-radius: 50%;

      &-container {
        display: inline-block;
        line-height: 1;
        position: relative;
      }

      &--is-group {
        background: #fff;
        border: 1px solid $borders;
        padding: 2px;
      }
    }

    &__contact {
      &-name {
        cursor: pointer;
        display: inline-block;
        font-size: 22.5px;
        line-height: 1;
        overflow: hidden;
        padding-left: 10px;
        position: relative;
        text-overflow: ellipsis;
        top: 6px;
        white-space: nowrap;
        width: 345px;

        &:hover ~  #{$thread}-information {
          display: block;
        }
      }
    }

    &__status {
      background: #fafbfe;
      border: 1px solid #b8b8b8;
      border-radius: 9px;
      bottom: 0;
      display: block;
      height: 9px;
      line-height: 1;
      position: absolute;
      right: 0;
      width: 9px;

      &--active {
        background: green;
        border: 1px solid #fff;
      }
    }

    &__group {
      &-name {
        display: inline-block;
        font-size: 18px;
        line-height: 1;
        overflow: hidden;
        padding-left: 5px;
        position: relative;
        text-overflow: ellipsis;
        top: 5px;
        white-space: nowrap;
      }
    }

    &__participants {
      display: inline-block;
      margin-left: 15px;
      position: relative;
    }

    &__minimize-chat {
      color: #fff;
      float: right;
      font-size: 32px;
      text-align: center;
      width: 60px;
      line-height: 60px;
    }

    &-body{
      @include firefox-only {
        height: calc(100% - 180px) !important;
      }
      height: calc(100% - 172px);
      position: relative;

      @media only screen and (max-width: 767px) {
        height: calc(100% - 222px);
      }

      &-welcome {
        height: 100%;

        &-container {
          padding-top: 30px;

          img {
            max-width: 300px;
          }
        }
      }

      &-history {
        -moz-appearance: none;
        height: 100%;
        list-style: none;
        margin: 0;
        overflow: auto;
        padding: 15px 10px;
        position: absolute;
        width: 100%;

        &::-webkit-scrollbar {
          -webkit-appearance: none;
          width: 7px;
        }

        &::-webkit-scrollbar-thumb {
          background-color: rgba(0,0,0,.5);
          border-radius: 4px;
          box-shadow: 0 0 1px rgba(255,255,255,.5);
        }

        &__loader {
          align-items: center;
          display: flex;
          height: 100%;
          justify-content: center;

          i.fa {
            margin-right: 5px;
          }
        }

        &--is-empty {
          align-items: center;
          display: flex;
          height: 100%;
          justify-content: center;
        }

        &-container {
          background-color: #eaebef;
          background-image: url('../assets/img/chat-bg.png');
          background-position: bottom left;
          background-size: cover;
          height: 100%;
          max-height: 302px;
          position: relative;
        }

        &-item {
          $this: &;
          clear: both;
          margin-bottom: 12px;
          position: relative;

          &-receiver {
            #{$this}-name:hover ~  #{$this}-information {
              display: block;
            }

            #{$this}__image-container:hover ~  #{$this}-information {
              display: block;
            }
          }

          &-information {
            -webkit-box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
            -moz-box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
            background: rgba(255, 255, 255, .95);
            border: 1px solid $borders;
            box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
            display: none;
            left: 52px;
            padding: 10px;
            position: absolute;
            top: -7px;
            width: 423px;

            &:before,
            &:after {
              border: solid transparent;
              content: " ";
              height: 0;
              position: absolute;
              pointer-events: none;
              right: 100%;
              top: 50%;
              width: 0;
            }

            &:after {
              border-color: rgba(136, 183, 213, 0);
              border-right-color: #fff;
              border-width: 14px;
              margin-top: -14px;
            }

            &:before {
              border-color: rgba(194, 225, 245, 0);
              border-right-color: $borders;
              border-width: 15px;
              margin-top: -15px;
            }

            &:hover {
              display: block;
            }

            &__image {
              border: 1px solid $borders;
              height: 96px;
              width: 96px;
            }

            &__details {
              font-size: 13px;
              padding-top: 5px;

              div {
                line-height: 1.4;
              }
            }
          }

          &-message {
            background: #ffffff;
            border-radius: 0.25rem;
            display: inline-block;
            font-weight: 500;
            max-width: 300px;
            padding: 15px;

            &--is-unsent {
              background: rgba(88, 103, 221, .5) !important;
            }
          }

          &-date {
            font-size: 12px;
            margin-left: 50px;
            margin-top: 3px;
            padding-bottom: 14px;
          }

          &-name {
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 3px;
            margin-left: 46px;
            text-transform: uppercase;
          }

          &-short-info {
            font-size: 12px;
          }

          &__image {
            border-radius: 50%;

            &-container {
              display: inline-block;
              margin-right: 5px;
            }
          }

          &-status {
            display: inline-block;
            margin-right: 5px;
            user-select: none;

            .kt-font-secondary {
              direction: ltr;
              display: inline-block;
              margin-right: 36px;
              margin-top: 2px;

              .fa-check-double {
                float: right;
                margin-left: 5px;
                position: relative;
                top: 3px;
              }
            }

            &--is-retry {
              cursor: pointer;
              direction: ltr;
            }
          }

          &-sender {
            clear: both;
            direction: rtl;
            float: right;
            text-align: right;

            #{$this}-message {
              background: fiberpos-color();
              color: #fff;
              direction: ltr;
              text-align: left;
              word-break: break-word;
            }

            #{$this}-date {
              direction: ltr;
              margin-left: 0;
              margin-right: 50px;
              text-align: right;
            }

            #{$this}__image {
              &-container {
                margin-left: 5px;
                margin-right: 0;
              }
            }
          }
        }
      }

      &-load-more {
        @include font-size(16px);
        background: rgba(255, 255, 255, 0.85);
        color: fiberpos-color();
        display: none;
        font-weight: 500;
        left: 0;
        line-height: 1;
        padding: 10px;
        position: absolute;
        text-align: center;
        width: 100%;
        z-index: 2;

        &-dot {
          @include font-size(4px);
          animation: roll 1s ease-in-out infinite;
          color: fiberpos-color();
          display: inline-block;
          position: relative;
          top: -1px;

          &:nth-child(2) {
            animation-delay: 0.10s;
          }
          &:nth-child(3) {
            animation-delay: 0.2s;
          }
        }
      }

      &-new-messages {
        background: rgba(241, 240, 240, 1);
        border-top: 2px solid #f1f0f0;
        bottom: 0;
        color: #fff;
        padding: 10px;
        position: absolute;
        text-align: center;
        width: 100%;
      }
    }

    &-footer {
      border-top: 1px solid #f1f0f0;

      &-message {
        position: relative;
        width: calc(100% - 100px);

        &-container {
          padding: 10px;
        }
      }

      &-send {
        @include firefox-only {
          line-height: 78px !important;
        }
        line-height: 63px !important;
        vertical-align: middle;

        i.fas {
          color: #fff;
        }
      }
    }
  }
</style>
