<template>
    <div id="add-group-form" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><i class="fa fa-user-friends kt-margin-r-5"></i> Create a Group</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group kt-margin-0">
                                    <label>Group Photo</label>
                                    <div class="add-group-photo-container">
                                        <div class="add-group-photo">
                                            <img src="/bundles/gisttemplate/assets/global/img/logo-only-transparent.png"/>
                                            <span class="add-group-photo__overlay"><i class="fa fa-plus"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-group kt-margin-0">
                                    <label>Group Name</label>
                                    <input  ref="refGroupName"
                                            type="text"
                                            maxlength="30"
                                            class="form-control"
                                            placeholder="Enter Group name"
                                            @input="setGCName"
                                            v-model="groupName"
                                    >
                                </div>
                            </div>
                        </div>
                        <div class="kt-separator kt-separator--border-dashed kt-separator--space-sm kt-separator--portlet-fit"></div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group kt-margin-0">
                                    <label>Add Participants</label>
                                    <div class="kt-input-icon kt-input-icon--left">
                                        <input ref="refMemberSearch"
                                               type="text"
                                               class="form-control"
                                               placeholder="Search..."
                                               v-model="memberSearch"
                                               @keyup.prevent="searchMember"
                                        >
                                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                          <span>
                                            <i :class="{
                                                  'la la-search': !checkIsSearching,
                                                  'fa fa-spinner fa-spin': checkIsSearching
                                                }"
                                            ></i></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="add-member-list-container">
                                    <div class="add-member-list-search-loader" v-if="checkIsSearching">
                                        <span><i class="fa fa-spinner fa-spin kt-margin-r-5"></i></span>
                                        <span>Loading...</span>
                                    </div>

                                    <div class="add-member-list-search__empty" v-if="!checkIsSearching && !gccUsers.length">
                                        <span><i class="fa fa-exclamation-circle kt-margin-r-5"></i></span>
                                        <span>No Results</span>
                                    </div>


                                    <ul class="add-member-list" v-show="!checkIsSearching && gccUsers.length">
                                        <li class="add-member-list-item"
                                            :class="{'add-member-list-item--is-selected': member.is_selected}"
                                            :data-member-id="member.id"
                                            v-for="(member, key) in gccUsers"
                                            @click="selectMember(member.id)"
                                            @mouseover="tooltip($event)"
                                        >
                                            <div class="add-member-list-item-wrapper">
                                                <div class="add-member-list-item__image-container">
                                                    <img :src="member.img_url"
                                                         class="add-member-list-item__image"
                                                         width="36"
                                                         height="36"
                                                    />
                                                </div>

                                                <div class="add-member-list-item__contact-name">{{ member.name }}</div>


                                                <div class="add-member-list-item__check-container">
                                                    <i class="fa fa-check-circle"
                                                       :class="{'kt-font-success': member.is_selected}"
                                                    ></i>
                                                </div>
                                            </div>

                                            <div class="add-member-list-item__information-wrapper">
                                                <div class="add-member-list-item__information">
                                                    <div class="row">
                                                      <div class="col-md-3">
                                                        <img :src="member.img_url"
                                                             class="add-member-list-item__information-image"
                                                        />
                                                      </div>
                                                      <div class="col-md-9 add-member-list-item__information-details">
                                                        <h5>{{ member.name }}</h5>
                                                        <div><strong>Position:</strong> {{ member.position || "" }}</div>
                                                        <div><strong>Department:</strong> {{ member.department || "" }}</div>
                                                        <div><strong>Area:</strong> {{ member.area || "" }}</div>
                                                      </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <a href="javascript:void(0);" class="btn btn-primary" id="createGroup" @click="createGroup"><i class="fa fa-plus"></i> Create</a>
                    <button type="button" data-dismiss="modal" class="btn btn-danger">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex';
    import {
        getUserOptionsForGroup as apiGetUserOptionsForGroup,
        createGroupChat as apiCreateGroupChat
    } from "../api/resources";
    import * as types from '../store/mutation-types';
    import mixin from '../mixins';

    export default {
        name: "ChatMainModalCreateGroup",
        data() {
            return {
                isTypingTimeout: false,
                isSearching: false,
                membersSelected: [],
	            groupName: '',
	            memberSearch: ''
            }
        },
        computed: {
            ...mapGetters({
                members: 'members',
                gccUsers: 'gccUsers',
                loggedUserId: 'loggedUserId',
                typingTimeout: 'typingTimeout',
                gccSelectedUserIDs: 'gccSelectedUserIDs',
                groupChatName: 'groupChatName',
            }),
            checkIsSearching(){
                return this.isSearching === true
            },
            selectedContacts: {
                get() {
                    return this.gccSelectedUserIDs;
                },
                set(value) {
                    this.$store.commit(types.SET_SELECTED_GCC_USERS, value);
                },
            },
        },
        mounted() {
            let $this = this;

            $('#add-group-form').on('shown.bs.modal', function () {
	            $this.$refs.refGroupName.focus();
	            $this.isSearching = true;

                let data = {
                    userId: $this.loggedUserId,
                    filter: null
                };

                apiGetUserOptionsForGroup(data, ({responseData}) => {
                    $this.$store.commit(types.SET_GCC_USERS, responseData.users);
	                $this.isSearching = false;
                });
            });

            $('#add-group-form').on('hidden.bs.modal', function () {
                $this.changeSubmitStatus();
	            $this.memberSearch = '';
	            $this.groupName = '';
                $('.add-member-list').find('li').removeClass('add-member-list-item--is-selected');
                $('.add-member-list').find('li i').removeClass('kt-font-success');
            });
        },
        methods: {
            searchMember() {
                this.isSearching = true;
                clearTimeout(this.isTypingTimeout);
                this.isTypingTimeout = setTimeout(() => {
                    let data = {
                        userId: this.loggedUserId,
                        filter: this.memberSearch
                    };
                    apiGetUserOptionsForGroup(data, ({responseData}) => {
                        this.$store.commit(types.SET_GCC_USERS, responseData.users);
                        this.$store.commit(types.SET_GCC_USERS_IS_SELECTED);
                        this.isSearching = false;
                    })
                }, this.typingTimeout)
            },
            selectMember(id) {
                let element = $('[data-member-id="'+id+'"]');
                if(!$(element).hasClass('add-member-list-item--is-selected')) {
                    $(element).addClass('add-member-list-item--is-selected');
                    $(element).find('i').addClass('kt-font-success');
                    this.membersSelected = this.membersSelected.concat(id);
                    this.$store.commit(types.GCC_SELECT_USER, id);
                } else {
                    $(element).removeClass('add-member-list-item--is-selected');
                    $(element).find('i').removeClass('kt-font-success');
                    this.membersSelected = this.membersSelected.filter(function(value){
                        return value !== id;
                    });
                    this.$store.commit(types.GCC_DESELECT_USER, id);
                }

                this.$store.commit(types.SET_SELECTED_GCC_USERS, this.membersSelected);
            },
            changeSubmitStatus(status) {
                const btnCreate = document.getElementById('createGroup');
                btnCreate.innerHTML = '<i class="fa fa-plus"></i> Create';
                btnCreate.classList.remove("disabled");

                if(status === 'sending') {
                    btnCreate.innerHTML = '<i class="fa fa-spinner fa-spin" style="width: 18px; margin-right: 5px;"></i> Creating...';
                    btnCreate.classList.add("disabled")
                }
            },
            createGroup() {
                let $this = this;

                this.changeSubmitStatus('sending');

                if($this.groupName.length === 0) {
                    this.showToastError('Error', 'Group Name cannot be empty');
	                this.$refs.refGroupName.focus();
                    setTimeout(() => {
                        $this.changeSubmitStatus();
                    }, 1200);
                    return;
                }

                if(this.membersSelected.length < 2 ) {
                    this.showToastError('Error', 'Group participants must be at least 2');
	                this.$refs.refMemberSearch.focus();
                    $this.changeSubmitStatus();
                    setTimeout(() => {
                        $this.changeSubmitStatus();
                    }, 1200);
                    return;
                }

                let data = {
                    userId: this.loggedUserId,
                    threadName: this.groupName,
                    participants: this.gccSelectedUserIDs
                };

                apiCreateGroupChat(data, ({responseData}) => {
                    this.showToastSuccess('Success', 'Create group Success');
                    this.changeSubmitStatus();
                    let thread = responseData.thread;
                    this.$store.commit(types.ADD_THREAD, thread);
                    this.$store.commit(types.RESET_GROUP_CHAT_CREATOR);
                    $('#add-group-form').modal('hide');
                });
            },
            setGCName(event) {
                this.$store.commit(types.SET_GROUP_CHAT_NAME, event.target.value);
            },
	        tooltip(e) {
		        var $menuItem = $(e.target).closest('li'),
			        $submenuWrapper = $('> .add-member-list-item__information-wrapper', $menuItem);

		        // grab the menu item's position relative to its positioned parent
		        var menuItemPos = $menuItem.position();

		        // place the submenu in the correct position relevant to the menu item
		        $submenuWrapper.css({
			        top: menuItemPos.top + Math.round($menuItem.outerWidth() * 0.14),
			        left: menuItemPos.left
		        });
	        }
        },
	    mixins:[mixin]
    }
</script>

<style scoped lang="scss">
    @import '../assets/scss/chat';

    .add-member-list {
        height: 100%;
        list-style: none;
        margin: 0;
        overflow-y: auto;
        padding: 0;

        &::-webkit-scrollbar {
            -webkit-appearance: none;
            width: 7px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgba(0,0,0,.5);
            border-radius: 4px;
            box-shadow: 0 0 1px rgba(255,255,255,.5);
        }

        &-container {
            height: 40vh;
        }

        &-search-loader,
        &-search__empty {
            align-items: center;
            display: flex;
            height: 100%;
            font-size: 16px;
            justify-content: center;
            text-align: center;
        }

        &-item {
            $this: &;
            clear: both;
            cursor: pointer;
            padding: 0;
            position: static;
            user-select: none;

            &-wrapper {
                border-bottom: 1px dashed gray;
                display: block;
                line-height: 60px;
                position: relative;
                width: 100%;
            }

            &:hover > #{$this}__information-wrapper {
                display: block;
            }

            &--is-selected {
                background: #f1f0f0;
            }

            &__image {
                border-radius: 50%;

                &-container {
                    display: inline-block;
                    vertical-align: top;
                }
            }

            &__contact-name {
                display: inline-block;
                font-size: 20px;
                line-height: 1;
                margin-left: 10px;
                max-width: 350px;
                position: relative;
                text-overflow: ellipsis;
                top: 4px;
                white-space: nowrap;
                width: 100%;
            }

            &__check-container {
                position: absolute;
                font-size: 23px;
                line-height: 1;
                right: 10px;
                top: 21px;
            }

            &__information {
                -webkit-box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
                -moz-box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
                background: rgba(255, 255, 255, .95);
                border: 1px solid $borders;
                box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
                padding: 10px;
                width: 451px;

                &:before,
                &:after {
                    border: solid transparent;
                    bottom: 100%;
                    content: " ";
                    height: 0;
                    left: 4%;
                    position: absolute;
                    pointer-events: none;
                    width: 0;
                }

                &:after {
                    border-color: rgba(136, 183, 213, 0);
                    border-bottom-color: #fff;
                    border-width: 14px;
                    margin-bottom: -1px;
                    margin-left: -14px;
                }

                &:before {
                    border-color: rgba(194, 225, 245, 0);
                    border-bottom-color: $borders;
                    border-width: 14px;
                    margin-left: -14px;
                }

                &-wrapper {
                    display: none;
                    position: absolute;
                    z-index: 9;
                }

                &-image {
                    border: 1px solid $borders;
                    height: 96px;
                    width: 96px;
                }

                &-details {
                    font-size: 13px;
                    padding-top: 5px;

                    div {
                        line-height: 1.4;
                    }
                }
            }
        }
    }

    .add-group-photo {
        $photo-size: 36px;

        position: relative;
        width: $photo-size;

        %group-photo {
            border-radius: 50%;
            height: $photo-size;
            width: $photo-size;
        }

        img {
            @extend %group-photo;
        }

        &__button {
            @extend %group-photo;

            background: transparent;
            border: 2px solid gray;
        }

        &__overlay {
            align-items: center;
            background: rgba(0,0,0,0.35);
            border-radius: 50%;
            color: #fff;
            display: flex;
            height: 100%;
            justify-content: center;
            left: 0;
            position: absolute;
            top: 0;
            visibility: hidden;
            width: 100%;
        }

        &:hover > &__overlay {
            visibility: visible;
        }
    }
</style>
