<template>
  <div class="col-md-4 kt-padding-0">
    <div class="chat-left-panel">
      <div class="chat-left-panel-head">
        <h4>
          CHAT
          <span class="pull-right">
            <a href="javascript:void(0);"
               class="btn btn-success btn-sm chat-left-panel__button"
               data-toggle="modal"
               data-target="#add-group-form"
               v-show="canAddGroups"
            >
              <i class="fa fa-user-friends"></i> Create Group
            </a>
          </span>
        </h4>
      </div>

      <div class="chat-left-panel-body">
        <div class="chat-threads-search">
          <div class="kt-input-icon kt-input-icon--left">
            <input type="text"
                   id="threadSearch"
                   class="form-control"
                   placeholder="Search..."
                   @keyup.prevent="searchThread"
            >
            <span class="kt-input-icon__icon kt-input-icon__icon--left">
              <span>
                <i :class="{
                      'la la-search': !isSearching,
                      'fa fa-spinner fa-spin': isSearching
                    }"
                ></i></span>
            </span>
          </div>
        </div>

        <div id="chatThreads">
          <div class="chat-threads-loader"
               v-if="!threads.length"
          >
              <span><i class="fa fa-spinner fa-spin"></i> Loading Threads...</span>
          </div>

          <ul class="chat-threads"
              v-show="threads.length"
          >
            <li :id="`chatThread${thread.id}`"
                class="chat-threads-item"
                :class="{'chat-threads-item--active': selectedThread(thread.id),
                  'chat-threads-item-direct': isThreadTypeDirect(thread),
                  'chat-threads-item-group': isThreadTypeGroup(thread),
                  'chat-threads-item--is-unread': thread.has_unread
                }"
                v-for="(thread, key) in threads"
                @click="changeThread(key, thread.id)"
                @mouseover="tooltip($event)"
            >
              <div class="chat-threads-item-information-wrapper">
                <div class="chat-threads-item-information"
                     v-if="isThreadTypeDirect(thread)"
                >
                  <div class="row">
                    <div class="col-md-3">
                      <img :src="thread.img_url"
                           class="chat-threads-item-information__image"
                      />
                    </div>
                    <div class="col-md-9 chat-threads-item-information__details">
                      <h5>{{ thread.thread_name }}</h5>
                      <div><strong>Position:</strong> {{ thread.position || "n/a" }}</div>
                      <div><strong>Department:</strong> {{ thread.department || "n/a" }}</div>
                      <div><strong>Area:</strong> {{ thread.area || "n/a" }}</div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="chat-threads-item__image-container">
                <img :src="thread.img_url"
                     :class="{'chat-threads-item__image--is-group': isThreadTypeGroup(thread)}"
                     class="chat-threads-item__image"
                     width="36" height="36"
                />
                <span class="chat-threads-item__status"
                      :class="{'chat-threads-item__status--active': isUserOnline(thread.user_id) }"
                      v-show="isThreadTypeDirect(thread)"
                ></span>
              </div>
              <div :class="{'chat-threads-item__contact-name': isThreadTypeDirect(thread),
                    'chat-threads-item__group-name': isThreadTypeGroup(thread)
                   }"
              >
                {{ thread.thread_name }}
              </div>

              <div class="chat-threads-item__recent-message">{{ thread.recent_message }}</div>
              <div class="chat-threads-item__recent-message-date">
                {{ thread.date_timestamp | formatDate }}

                <div class="chat-threads-item__unread-count"
                     v-if="thread.has_unread"
                >
                  {{ thread.unread_count }}
                </div>
              </div>

            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
import * as types from '../store/mutation-types';
import { mapGetters } from 'vuex';
import {
  getChatThreads as apiGetChatThreads,
  getChatThreadMessages as apiGetChatThreadMessages,
  setMessagesAsRead as apiSetMessagesAsRead,
  getUnreadMessagesCount as apiGetUnreadMessagesCount,
  getThreadUsers as apiGetThreadUsers,
  getUserOptionsForGroup as apiGetUserOptionsForGroup,
} from "../api/resources";
import mixin from '../mixins';

export default {
  name: "ChatMainBodyLeftPanel",
  data() {
    return {
      threadsLastPage: 0,
      threadsTotal: 0,
      isLoadingThreads: false,
      isTypingTimeout: false,
      isSearching: false
    }
  },
  components: {},
  props: {
    threads: {
      type: Array,
      required: true,
      default: []
    }
  },
  computed: {
    ...mapGetters({
      loggedUserId: 'loggedUserId',
      sortedThreads: 'sortedThreads',
      threadMessagesIDs: 'threadMessagesIDs',
      currentThread: 'currentThread',
      canAddGroups: 'canAddGroups',
      canManageGroups: 'canManageGroups',
      typingTimeout: 'typingTimeout',
      onlineUsers: 'onlineUsers'
    }),
    checkIsSearching(){
      return this.isSearching === true
    },
  },
  mounted() {
    this.getThreads();
  },
  methods: {
	isUserOnline(userId) {
      return this.onlineUsers.includes(userId);
	},
    getThreads(searchText = null) {
      this.isLoadingThreads = true;

      let data = {
        userId: this.loggedUserId,
        startPage: 0,
        endPage: 0,
        limit: 0,
        searchFilter: searchText
      };

      apiGetChatThreads(data, ({responseData}) => {
        this.isLoadingThreads = false;
        this.$store.commit('SET_THREADS', responseData);
        window.chatThreads = new PerfectScrollbar('.chat-threads');
      });
    },
    searchThread(e) {
      this.isSearching = true;
      clearTimeout(this.isTypingTimeout);
      let searchText = document.getElementById('threadSearch');
      this.isTypingTimeout = setTimeout(() => {
        this.getThreads(searchText.value);
        this.isSearching = false;
      }, this.typingTimeout);
    },
    selectedThread(id) {
      return id === this.$store.state.currentThreadID;
    },
    changeThread(key, threadId){
      //prevent reloading of thread messages and data if current thread is being selected again
      if (key === this.$store.state.currentThreadKey) {
        return;
      }

      let data = {
        threadId: threadId,
        filter: null
      };

      apiGetThreadUsers(data, ({responseData}) => {
        let dataUpdate = {
          threadId: responseData.threadId,
          members: responseData.members
        };

        this.$store.commit(types.UPDATE_THREAD_MEMBERS, dataUpdate);
      });

      this.$store.commit('SET_MESSAGES', []);
      // use this when new message is received
      //this.$store.commit('SET_THREAD_HAS_UNREAD', threadId);
      apiGetChatThreadMessages(this.loggedUserId, threadId, 0,0,0, ({responseData}) => {
        this.$store.commit('SET_MESSAGES', responseData);
        this.markMessagesAsRead();
      });

      $('.chat-threads-item').removeClass('chat-threads-item--active');

      this.$store.commit(types.SWITCH_THREAD, { key });
      this.$root.$emit('on::scroll::bottom');
    },
    markMessagesAsRead() {
      let data = {
        threadId: this.currentThread.id,
        messageIDs: this.threadMessagesIDs,
        userId: this.loggedUserId
      };

      apiSetMessagesAsRead(data, () => {
        apiGetUnreadMessagesCount(this.loggedUserId, ({responseData}) => {
          this.$store.commit('SET_TOTAL_UNREAD_COUNT', responseData.count);
        });

        this.$store.commit(types.RESET_THREAD_HAS_UNREAD, this.currentThread.id);
      });
    },
    tooltip(e) {
        var $menuItem = $(e.target).closest('li'),
            $submenuWrapper = $('> .chat-threads-item-information-wrapper', $menuItem);

        // grab the menu item's position relative to its positioned parent
        var menuItemPos = $menuItem.position();

        // place the submenu in the correct position relevant to the menu item
        $submenuWrapper.css({
          top: menuItemPos.top,
          left: menuItemPos.left + Math.round($menuItem.outerWidth() * 0.75)
        });
    }
  },
  mixins:[mixin]
};
</script>

<style scoped lang="scss">
  @import '../assets/scss/chat';

  .chat-left-panel {
    height: 100%;
    position: absolute;
    width: 100%;

    @media only screen and (max-width: 767px) {
      height: 331px;
      position: relative;
    }

    &-head {
      background: fiberpos-color();
      border-right: 1px solid #fff;
      height: 60px;
      padding: 0 10px 0 0;

      h4 {
        color: #fff;
        line-height: 60px;
        padding-left: 15px;
      }
    }

    &-body {
      border: 1px solid $borders;
      border-bottom: 0;
      border-top: 0;
      height: calc(100% - 60px);
      max-height: 100%;
      position: relative;
    }
  }

  .chat-threads-search {
    background: #fff;
    border-bottom: 1px solid #ebedf2;
    border-top: 0;
    padding: 5px 10px;
  }

  .chat-threads {
    border-bottom: 0;
    border-top: 0;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;

    &-loader {
      align-items: center;
      display: flex;
      height: calc(100% - 105px);
      justify-content: center;

      i.fa {
        margin-right: 5px;
      }
    }

    &-item {
      $this: &;
      border-bottom: 1px dashed gray;
      cursor: pointer;
      display: inline-block;
      padding: 12px 15px;
      position: static;
      user-select: none;
      width: 100%;

      &:hover > &-information-wrapper {
        display: block;
      }

      &:last-child {
        border: 0;
      }

      &--active {
        background: #f1f0f0;
      }

      &--is-unread {
        font-weight: 600;
      }

      &__image {
        border-radius: 50%;

        &-container {
          display: inline-block;
          float: left;
          position: relative;
        }

        &--is-group {
          background: #fff;
          border: 1px solid $borders;
          padding: 2px;
        }
      }

      &__status {
        background: #fafbfe;
        border: 1px solid #b8b8b8;
        border-radius: 9px;
        bottom: 0;
        display: block;
        height: 9px;
        line-height: 1;
        position: absolute;
        right: 0;
        width: 9px;

        &--active {
          background: green;
          border: 1px solid #fff;
        }
      }

      &__contact,
      &__group {
        &-name {
          font-size: 16px;
          font-weight: 600;
          line-height: 1;
          overflow: hidden;
          padding-left: 10px;
          position: relative;
          text-overflow: ellipsis;
          vertical-align: top;
          white-space: nowrap;
          width: calc(100% - 50px);
        }
      }

      &__recent {
        &-message {
          display: inline;
          float: left;
          overflow: hidden;
          padding-left: 10px;
          padding-top: 5px;
          position: relative;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: calc(100% - 105px);

          &--is-unread {
            font-weight: 600;
          }

          &-date {
            bottom: -5px;
            display: inline-block;
            font-size: 11px;
            position: relative;
            right: -15px;
            width: 66px;
          }
        }
      }

      &__unread-count {
        @include font-size(14px);
        align-items: center;
        background-color: #e83600;
        border-radius: 50%;
        color: #fff;
        display: flex;
        font-weight: bold;
        height: 21px;
        justify-content: center;
        position: absolute;
        right: 0px;
        top: -28px;
        width: 21px;
      }

      &-information {
        -webkit-box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
        -moz-box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
        background: rgba(255, 255, 255, .95);
        border: 1px solid $borders;
        box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
        left: 62px;
        padding: 10px;
        position: relative;
        top: -28px;
        width: 433px;

        &:before,
        &:after {
          border: solid transparent;
          content: " ";
          height: 0;
          position: absolute;
          pointer-events: none;
          right: 100%;
          top: 50%;
          width: 0;
        }

        &:after {
          border-color: rgba(136, 183, 213, 0);
          border-right-color: #fff;
          border-width: 14px;
          margin-top: -14px;
        }

        &:before {
          border-color: rgba(194, 225, 245, 0);
          border-right-color: $borders;
          border-width: 15px;
          margin-top: -15px;
        }

        &-wrapper {
          display: none;
          left: 100%;
          position: absolute;
          z-index: 9;
        }

        &__image {
          border: 1px solid $borders;
          height: 96px;
          width: 96px;
        }

        &__details {
          font-size: 13px;
          padding-top: 5px;

          div {
            line-height: 1.4;
          }
        }
      }
    }
  }

  #chatThreads {
    height: calc(100% - 55px);
    overflow-x: auto !important;
  }
</style>
