<template>
  <div
      ref="chatMainBody"
      class="row chat-main-body"
      :class="{
         'chat-main-body--fade-in': isChatOpen === true
      }"
      v-show="isChatOpen === true"
  >
    <chat-main-body-left-panel
        ref="chatMainBodyLeftPanel"
        :threads="threads"
    />
    <chat-main-body-right-panel
        ref="chatMainBodyRightPanel"
        :threads="threads"
        :emoji-text="emojiText"
    />
  </div>
</template>

<script>
import ChatMainBodyLeftPanel from "./ChatMainBodyLeftPanel";
import ChatMainBodyRightPanel from "./ChatMainBodyRightPanel";
import { mapGetters } from 'vuex';

export default {
  name: "ChatMainBody",
  components: {
      ChatMainBodyLeftPanel,
      ChatMainBodyRightPanel,
  },
  data() {
    return {
      emojiText: '',
    }
  },
  computed: {
    ...mapGetters({
      threads: 'threads',
      isChatOpen: 'isChatOpen'
    })
  },
  mounted() {
    this.$root.$on('loadMoreMessages', append => {
      if(append) {
        document.querySelector('.chat-thread-body-load-more').style.display = 'block';
      }
      setTimeout(() => {
        document.querySelector('.chat-thread-body-load-more').style.display = 'none';
      }, 3000)
    });
  }
};
</script>

<style scoped lang="scss">
  @import '../assets/scss/chat';

  .chat-main-body {
    background: #fff;
    border-bottom: solid 1px #adadad;
    border-top-left-radius: 8px;
    bottom: 0;
    border-top-right-radius: 8px;
    right: 35px;
    height: 468px;
    position: fixed;
    width: 750px;
    z-index: 3;

    &--fade-out {
      animation: mainChatFadeOut $chatAnimationDuration ease-in-out;
    }

    &--fade-in {
      animation: mainChatFadeIn $chatAnimationDuration ease-in-out;
    }

    @media only screen and (max-width: 767px) {
      height: 100%;
      top: 50px;
      width: 100%;
    }
  }
</style>
